PostgreSQL is available
alabaster @ file:///wheels/alabaster-0.7.12-py2.py3-none-any.whl
amqp @ file:///wheels/amqp-5.1.0-py3-none-any.whl
argon2-cffi @ file:///wheels/argon2_cffi-21.3.0-py3-none-any.whl
argon2-cffi-bindings @ file:///wheels/argon2_cffi_bindings-21.2.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
asgiref @ file:///wheels/asgiref-3.5.0-py3-none-any.whl
astroid @ file:///wheels/astroid-2.9.3-py3-none-any.whl
asttokens @ file:///wheels/asttokens-2.0.5-py2.py3-none-any.whl
attrs @ file:///wheels/attrs-21.4.0-py2.py3-none-any.whl
Babel @ file:///wheels/Babel-2.9.1-py2.py3-none-any.whl
backcall @ file:///wheels/backcall-0.2.0-py2.py3-none-any.whl
billiard @ file:///wheels/billiard-3.6.4.0-py3-none-any.whl
black @ file:///wheels/black-21.12b0-py3-none-any.whl
celery @ file:///wheels/celery-5.2.3-py3-none-any.whl
certifi @ file:///wheels/certifi-2021.10.8-py2.py3-none-any.whl
cffi @ file:///wheels/cffi-1.15.0-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
cfgv @ file:///wheels/cfgv-3.3.1-py2.py3-none-any.whl
charset-normalizer @ file:///wheels/charset_normalizer-2.0.12-py3-none-any.whl
click @ file:///wheels/click-8.0.4-py3-none-any.whl
click-didyoumean @ file:///wheels/click_didyoumean-0.3.0-py3-none-any.whl
click-plugins @ file:///wheels/click_plugins-1.1.1-py2.py3-none-any.whl
click-repl @ file:///wheels/click_repl-0.2.0-py3-none-any.whl
colorama @ file:///wheels/colorama-0.4.4-py2.py3-none-any.whl
coreapi @ file:///wheels/coreapi-2.3.3-py2.py3-none-any.whl
coreschema @ file:///wheels/coreschema-0.0.4-py3-none-any.whl
coverage @ file:///wheels/coverage-6.2-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
crispy-bootstrap5 @ file:///wheels/crispy_bootstrap5-0.6-py3-none-any.whl
cryptography @ file:///wheels/cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl
cssselect2 @ file:///wheels/cssselect2-0.5.0-py3-none-any.whl
decorator @ file:///wheels/decorator-5.1.1-py3-none-any.whl
defusedxml @ file:///wheels/defusedxml-0.7.1-py2.py3-none-any.whl
Deprecated @ file:///wheels/Deprecated-1.2.13-py2.py3-none-any.whl
distlib @ file:///wheels/distlib-0.3.4-py2.py3-none-any.whl
Django @ file:///wheels/Django-3.2.11-py3-none-any.whl
django-allauth @ file:///wheels/django_allauth-0.47.0-py3-none-any.whl
django-appconf @ file:///wheels/django_appconf-1.0.5-py3-none-any.whl
django-celery-beat @ file:///wheels/django_celery_beat-2.2.1-py2.py3-none-any.whl
django-compressor @ file:///wheels/django_compressor-3.1-py2.py3-none-any.whl
django-cors-headers @ file:///wheels/django_cors_headers-3.11.0-py3-none-any.whl
django-coverage-plugin @ file:///wheels/django_coverage_plugin-2.0.2-py3-none-any.whl
django-crispy-forms @ file:///wheels/django_crispy_forms-1.13.0-py3-none-any.whl
django-debug-toolbar @ file:///wheels/django_debug_toolbar-3.2.4-py3-none-any.whl
django-environ @ file:///wheels/django_environ-0.8.1-py2.py3-none-any.whl
django-extensions @ file:///wheels/django_extensions-3.1.5-py3-none-any.whl
django-js-asset @ file:///wheels/django_js_asset-2.0.0-py3-none-any.whl
django-model-utils @ file:///wheels/django_model_utils-4.2.0-py3-none-any.whl
django-mptt @ file:///wheels/django_mptt-0.13.4-py3-none-any.whl
django-redis @ file:///wheels/django_redis-5.2.0-py3-none-any.whl
django-stubs @ file:///wheels/django_stubs-1.9.0-py3-none-any.whl
django-stubs-ext @ file:///wheels/django_stubs_ext-0.3.1-py3-none-any.whl
django-timezone-field @ file:///wheels/django_timezone_field-4.2.3-py3-none-any.whl
djangorestframework @ file:///wheels/djangorestframework-3.13.1-py3-none-any.whl
djangorestframework-stubs @ file:///wheels/djangorestframework_stubs-1.4.0-py3-none-any.whl
docutils @ file:///wheels/docutils-0.17.1-py2.py3-none-any.whl
easy-thumbnails @ file:///wheels/easy_thumbnails-2.8.1-py3-none-any.whl
executing @ file:///wheels/executing-0.8.3-py2.py3-none-any.whl
factory-boy @ file:///wheels/factory_boy-3.2.1-py2.py3-none-any.whl
Faker @ file:///wheels/Faker-13.3.1-py3-none-any.whl
filelock @ file:///wheels/filelock-3.6.0-py3-none-any.whl
flake8 @ file:///wheels/flake8-4.0.1-py2.py3-none-any.whl
flake8-isort @ file:///wheels/flake8_isort-4.1.1-py3-none-any.whl
flower @ file:///wheels/flower-1.0.0-py2.py3-none-any.whl
hiredis @ file:///wheels/hiredis-2.0.0-cp39-cp39-manylinux2010_x86_64.whl
humanize @ file:///wheels/humanize-4.0.0-py3-none-any.whl
identify @ file:///wheels/identify-2.4.11-py2.py3-none-any.whl
idna @ file:///wheels/idna-3.3-py3-none-any.whl
imagesize @ file:///wheels/imagesize-1.3.0-py2.py3-none-any.whl
iniconfig @ file:///wheels/iniconfig-1.1.1-py2.py3-none-any.whl
ipdb @ file:///wheels/ipdb-0.13.9-py3-none-any.whl
ipython @ file:///wheels/ipython-8.1.1-py3-none-any.whl
isort @ file:///wheels/isort-5.10.1-py3-none-any.whl
itypes @ file:///wheels/itypes-1.2.0-py2.py3-none-any.whl
jedi @ file:///wheels/jedi-0.18.1-py2.py3-none-any.whl
Jinja2 @ file:///wheels/Jinja2-3.0.3-py3-none-any.whl
kombu @ file:///wheels/kombu-5.2.4-py3-none-any.whl
lazy-object-proxy @ file:///wheels/lazy_object_proxy-1.7.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
livereload @ file:///wheels/livereload-2.6.3-py2.py3-none-any.whl
lxml @ file:///wheels/lxml-4.8.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl
MarkupSafe @ file:///wheels/MarkupSafe-2.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
matplotlib-inline @ file:///wheels/matplotlib_inline-0.1.3-py3-none-any.whl
mccabe @ file:///wheels/mccabe-0.6.1-py2.py3-none-any.whl
mypy @ file:///wheels/mypy-0.931-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
mypy-extensions @ file:///wheels/mypy_extensions-0.4.3-py2.py3-none-any.whl
nodeenv @ file:///wheels/nodeenv-1.6.0-py2.py3-none-any.whl
oauthlib @ file:///wheels/oauthlib-3.2.0-py3-none-any.whl
packaging @ file:///wheels/packaging-21.3-py3-none-any.whl
parso @ file:///wheels/parso-0.8.3-py2.py3-none-any.whl
pathspec @ file:///wheels/pathspec-0.9.0-py2.py3-none-any.whl
pexpect @ file:///wheels/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///wheels/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///wheels/Pillow-9.0.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
platformdirs @ file:///wheels/platformdirs-2.5.1-py3-none-any.whl
pluggy @ file:///wheels/pluggy-1.0.0-py2.py3-none-any.whl
pre-commit @ file:///wheels/pre_commit-2.16.0-py2.py3-none-any.whl
prometheus-client @ file:///wheels/prometheus_client-0.13.1-py3-none-any.whl
prompt-toolkit @ file:///wheels/prompt_toolkit-3.0.28-py3-none-any.whl
psycopg2 @ file:///wheels/psycopg2-2.9.3-cp39-cp39-linux_x86_64.whl
ptyprocess @ file:///wheels/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///wheels/pure_eval-0.2.2-py3-none-any.whl
py @ file:///wheels/py-1.11.0-py2.py3-none-any.whl
pycodestyle @ file:///wheels/pycodestyle-2.8.0-py2.py3-none-any.whl
pycparser @ file:///wheels/pycparser-2.21-py2.py3-none-any.whl
pyflakes @ file:///wheels/pyflakes-2.4.0-py2.py3-none-any.whl
Pygments @ file:///wheels/Pygments-2.11.2-py3-none-any.whl
PyJWT @ file:///wheels/PyJWT-2.3.0-py3-none-any.whl
pylint @ file:///wheels/pylint-2.12.2-py3-none-any.whl
pylint-celery @ file:///wheels/pylint_celery-0.3-py3-none-any.whl
pylint-django @ file:///wheels/pylint_django-2.5.0-py3-none-any.whl
pylint-plugin-utils @ file:///wheels/pylint_plugin_utils-0.7-py3-none-any.whl
pyparsing @ file:///wheels/pyparsing-3.0.7-py3-none-any.whl
pytest @ file:///wheels/pytest-6.2.5-py3-none-any.whl
pytest-django @ file:///wheels/pytest_django-4.5.2-py3-none-any.whl
pytest-sugar @ file:///wheels/pytest_sugar-0.9.4-py2.py3-none-any.whl
python-crontab @ file:///wheels/python_crontab-2.6.0-py3-none-any.whl
python-dateutil @ file:///wheels/python_dateutil-2.8.2-py2.py3-none-any.whl
python-slugify @ file:///wheels/python_slugify-5.0.2-py2.py3-none-any.whl
python3-openid @ file:///wheels/python3_openid-3.2.0-py3-none-any.whl
pytz @ file:///wheels/pytz-2021.3-py2.py3-none-any.whl
PyYAML @ file:///wheels/PyYAML-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
rcssmin @ file:///wheels/rcssmin-1.1.0-cp39-cp39-manylinux1_x86_64.whl
redis @ file:///wheels/redis-4.1.0-py3-none-any.whl
reportlab @ file:///wheels/reportlab-3.6.8-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
requests @ file:///wheels/requests-2.27.1-py2.py3-none-any.whl
requests-oauthlib @ file:///wheels/requests_oauthlib-1.3.1-py2.py3-none-any.whl
rjsmin @ file:///wheels/rjsmin-1.2.0-cp39-cp39-manylinux2014_x86_64.whl
six @ file:///wheels/six-1.16.0-py2.py3-none-any.whl
snowballstemmer @ file:///wheels/snowballstemmer-2.2.0-py2.py3-none-any.whl
Sphinx @ file:///wheels/Sphinx-4.3.2-py3-none-any.whl
sphinx-autobuild @ file:///wheels/sphinx_autobuild-2021.3.14-py3-none-any.whl
sphinxcontrib-applehelp @ file:///wheels/sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-devhelp @ file:///wheels/sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-htmlhelp @ file:///wheels/sphinxcontrib_htmlhelp-2.0.0-py2.py3-none-any.whl
sphinxcontrib-jsmath @ file:///wheels/sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl
sphinxcontrib-qthelp @ file:///wheels/sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-serializinghtml @ file:///wheels/sphinxcontrib_serializinghtml-1.1.5-py2.py3-none-any.whl
sqlparse @ file:///wheels/sqlparse-0.4.2-py3-none-any.whl
stack-data @ file:///wheels/stack_data-0.2.0-py3-none-any.whl
svglib @ file:///wheels/svglib-1.2.1-py3-none-any.whl
termcolor @ file:///wheels/termcolor-1.1.0-py3-none-any.whl
testfixtures @ file:///wheels/testfixtures-6.18.5-py2.py3-none-any.whl
text-unidecode @ file:///wheels/text_unidecode-1.3-py2.py3-none-any.whl
tinycss2 @ file:///wheels/tinycss2-1.1.1-py3-none-any.whl
toml @ file:///wheels/toml-0.10.2-py2.py3-none-any.whl
tomli @ file:///wheels/tomli-1.2.3-py3-none-any.whl
tornado @ file:///wheels/tornado-6.1-cp39-cp39-manylinux2010_x86_64.whl
traitlets @ file:///wheels/traitlets-5.1.1-py3-none-any.whl
types-pytz @ file:///wheels/types_pytz-2021.3.5-py3-none-any.whl
types-PyYAML @ file:///wheels/types_PyYAML-6.0.4-py3-none-any.whl
typing_extensions @ file:///wheels/typing_extensions-4.1.1-py3-none-any.whl
uritemplate @ file:///wheels/uritemplate-4.1.1-py2.py3-none-any.whl
urllib3 @ file:///wheels/urllib3-1.26.8-py2.py3-none-any.whl
vine @ file:///wheels/vine-5.0.0-py2.py3-none-any.whl
virtualenv @ file:///wheels/virtualenv-20.13.3-py2.py3-none-any.whl
watchgod @ file:///wheels/watchgod-0.7-py3-none-any.whl
wcwidth @ file:///wheels/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///wheels/webencodings-0.5.1-py2.py3-none-any.whl
Werkzeug @ file:///wheels/Werkzeug-2.0.2-py3-none-any.whl
whitenoise @ file:///wheels/whitenoise-5.3.0-py2.py3-none-any.whl
wrapt @ file:///wheels/wrapt-1.13.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
