@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Sans CJK JP Light"), local("Noto Sans JP"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Sans CJK JP Regular"), local("Noto Sans JP"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"), local("Noto Sans JP Medium"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"), local("Noto Sans JP Bold"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP Black"), local("Noto Sans JP Black"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.otf) format('opentype');
}

$font-en: 'Lato', sans-serif;
$font-en-alt: 'Roboto', sans-serif;
$font-ja: 'Noto Sans JP', sans-serif;

.font-en {
  font-family: $font-en;
}
.font-en-alt {
  font-family: $font-en-alt;
}
.font-ja {
  font-family: $font-ja;
}

html {
  height: -webkit-fill-available;
  /* scroll-behavior: smooth; */
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF\4F53", Yu Gothic, YuGothic, Hiragino Kaku Gothic Pro, "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", Meiryo UI, "\30E1\30A4\30EA\30AA", Meiryo, Osaka, MS PGothic, sans-serif;
}

details {
  height: var(--collapsed);
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
  > summary {
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
  }
  &[open] {
    height: var(--expanded);
  }
}

a {
  @apply hover:text-crimson;
  &:hover {
    svg {
      @apply text-crimson;
      &.hover-to-right {
        @apply transform translate-x-2 transition-all duration-300 ease-in-out;
      }
    }
    &.hover\:text-white {
      svg {
        @apply text-white;
      }
    }
    svg {
      &.no-hover-svg {
        color: inherit !important;
      }
    }
  }
}
