{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="">
    <div class="parallax-section">
      <div class="parallax-child-section">
        <div class="bg-gray-to-transparent relative z-10 h-full">
          <div class="container mx-auto h-full flex items-center">
            <h1 class="flex flex-col items-start">
              <span class="inline-block p-2 bg-crimson text-2xl sm:text-3xl md:text-4xl text-white font-bold font-en uppercase leading-none tracking-wider">E-commerce</span>
              <span class="inline-block p-2 mt-2 bg-crimson text-2xl sm:text-3xl md:text-4xl text-white font-bold font-en uppercase leading-none tracking-wider">Websites</span>
              <span class="block md:pl-0 mt-4 text-lg md:text-xl font-bold leading-snug tracking-wider">販売サイト<br>のご案内</span>
            </h1>
          </div>
        </div>
        <section class="fw-main-row" id="frontlashID" style="background-image: url({% static 'images/categories/pasta.jpg' %});"></section>
      </div>
    </div>
  </section>

  <section class="mt-10">
    <div class="container mx-auto">
      <h2 class="slashed w-full pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">MICstore</span>
          <span class="block text-2xl md:text-3xl font-bold leading-snug">お取扱商品一覧</span>
        </div>
      </h2>
      <div class="pt-6 sm:pt-10 mt-6 sm:mt-10 border-t border-dashed">
        <p class="text-sm md:text-base sm:text-center">MICstore(ミクストア)では下記の日清製粉ウェルナ商品をご購入いただけます。</p>
      </div>
      <div class="mt-6 sm:mt-10 md:mt-12 bg-gray-100 p-2 sm:p-4 md:px-6">
        <div class="flex flex-wrap justify-center -mx-1 sm:-mx-2">

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/01.jpg' %}" alt="ディ・チェコ冷凍パスタ　№１１　Spaghettini（スパゲッテーニ）" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">ディ・チェコ冷凍パスタ　№１１　Spaghettini（スパゲッテーニ）	</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/02.jpg' %}" alt="MA・MA　ＴＲＡＤＩＴＩＯＮＡＬ　ボロネーゼ" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　ＴＲＡＤＩＴＩＯＮＡＬ　ボロネーゼ</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/03.jpg' %}" alt="MA・MA　PASTA ＳＴＥＬＬＡ　ソテーナポリタン" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　PASTA ＳＴＥＬＬＡ　ソテーナポリタン</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/04.jpg' %}" alt="MA・MA　PASTA ＳＴＥＬＬＡ　和風たらこ" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　PASTA ＳＴＥＬＬＡ　和風たらこ</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/05.jpg' %}" alt="MA・MA　PASTA ＳＴＥＬＬＡ　クリーミーボロネーゼ" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　PASTA ＳＴＥＬＬＡ　クリーミーボロネーゼ</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/06.jpg' %}" alt="MA・MA　PASTA ＳＴＥＬＬＡ　ポルチーニクリーム" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　PASTA ＳＴＥＬＬＡ　ポルチーニクリーム</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/07.jpg' %}" alt="MA・MA　PASTA ＳＴＥＬＬＡ　濃厚海老トマトクリーム" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　PASTA ＳＴＥＬＬＡ　濃厚海老トマトクリーム</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/08.jpg' %}" alt="ラウンドアップスパゲティ　太麺タイプ２．２ｍｍ≪塩茹で≫" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">ラウンドアップスパゲティ　太麺タイプ２．２ｍｍ≪塩茹で≫</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/09.jpg' %}" alt="MA・MA　La Pasta　Trafilata　フェットチーネ（卵入り）" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　La Pasta　Trafilata　フェットチーネ（卵入り）	</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/10.jpg' %}" alt="MA・MA　La Pasta　Trafilata　タリオリーニ（卵入り）" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　La Pasta　Trafilata　タリオリーニ（卵入り）</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/11.jpg' %}" alt="MA・MA　La Pasta　Trafilata　リングイネ" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　La Pasta　Trafilata　リングイネ</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/12.jpg' %}" alt="MA・MA　N明太子ソース（チューブ入・パスタ用）" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　N明太子ソース（チューブ入・パスタ用）</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/13.jpg' %}" alt="MA・MA　Nたらこソース（チューブ入・パスタ用）" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">MA・MA　Nたらこソース（チューブ入・パスタ用）</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/14.jpg' %}" alt="チュロス（ハーフサイズ）フライ＆ベイク" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">チュロス（ハーフサイズ）フライ＆ベイク</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/15.jpg' %}" alt="自然解凍ミニパンケーキ（もちもち食感）" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">自然解凍ミニパンケーキ（もちもち食感）</h3>
            </div>
          </div>

          <div class="w-1/2 sm:w-1/3 md:w-1/4 px-1 sm:px-2 my-1 sm:my-2">
            <div class="h-full border-t-3 border-crimson flex flex-col justify-between">
              <div class="flex-none bg-yellow-50">
                <img src="{% static 'images/micstore/16.jpg' %}" alt="おいしい天ぷら粉" class="w-full h-auto">
              </div>
              <h3 class="flex-1 bg-white p-3 sm:p-4 text-xs sm:text-sm">おいしい天ぷら粉</h3>
            </div>
          </div>

        </div>
      </div>

      <section class="mt-8 md:mt-16 md:mb-0">

        <div class="flex justify-center">
          <img src="{% static 'images/ec_micstore.png' %}" class="w-64 h-auto" alt="フーヅフリッジ様">
        </div>

        <div class="w-full md:w-8/12 mx-auto">
          <div class="flex bg-gray-100 my-6">
            <div class="flex-none">
              <div class="h-full px-2 sm:px-6 flex items-center bg-crimson">
                <svg-vue icon="info" class="w-6 h-6 text-white"></svg-vue>
              </div>
            </div>
            <div class="flex-1">
              <p class="text-sm p-4 sm:p-6">
                下記のリンクからミクストアの無料会員登録ページにお進みいただけます。会員登録後、トップページの商品検索窓から「日清製粉ウェルナ」でご検索頂きますと取扱商品の一覧が表示されますので、ご希望の商品をお買い求めください。また、「商品名」でご検索頂くことも可能です。
              </p>
            </div>
          </div>
        </div>

        <div class="mb-4 text-center text-xs">無料会員登録はこちらから↓</div>
        <div class="flex justify-center">
          <a href="https://www.micreed.co.jp/shop/app/customer/customer_edit1/?landng=lp_c.html" target="_blank" class="button w-full sm:w-80 py-6 flex justify-center items-center no-hover-svg">
            <span class="font-bold">販売サイトへ</span>
            <svg-vue icon="external" class="w-3 h-3 mt-1 ml-2 text-gray-600 text-white"></svg-vue>
          </a>
        </div>
        <div class="mt-4 text-center text-xs">※ 新しいウィンドウで開きます↑</div>
      </section>
    </div>
  </section>
{% endblock content %}
