{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
  <section class="">
    <div class="parallax-section">
      <div class="parallax-child-section">
        <section class="fw-main-row" id="frontlashID" style="background-image: url({{ current_category.hero | thumbnail_url:'hero' }});"></section>
      </div>
    </div>
  </section>

  <div class="container mx-auto">
    <div class="relative z-30 shadow-top bg-white pt-8 xl:p-10 xl:-mt-24 xl:-mx-10 rounded">

      <div class="md:flex md:flex-row-reverse md:-mx-4">
        <div class="flex-1 md:px-4">

          <div class="sm:flex justify-between items-start sm:-mx-3 lg:-mx-4">
            <div class="sm:w-[280px] lg:w-[360px] sm:px-3 lg:px-4">
              <detail-slider :newmark="{{ product.is_new|lower }}" layout="col" :handle-modal="openLightBox" :images="[
                {% if product.photos.all|length > 0 %}
                  {% for photo in product.photos.all %}
                    {
                      src: '{{ photo.photo | thumbnail_url:'square' }}',
                      title: '{{ product.title | safe }}'
                    },
                  {% endfor %}
                {% else %}
                {
                  src: '{% static 'images/default_thumbnail.png' %}',
                  title: '{{ product.title | safe }}'
                },
                {% endif %}
              ]"
              ></detail-slider>
            </div>
            <div class="relative flex-1 sm:px-3 lg:px-4 pt-7 sm:pt-0 border-t border-gray-300 sm:border-none">
              <div class="flex -mx-1">
                <div class="px-1">
                  <span class="block p-2 text-xs border border-crimson text-crimson leading-none">{{ product.main_category }}</span>
                </div>
                <div class="px-1">
                  <span class="block w-16 p-2 text-xs text-white leading-none text-center tracking-wider color_{{ product.preservation.slug }}">{{ product.preservation.name }}</span>
                </div>
              </div>
              <h1 class="mt-4 mb-6 sm:my-8 sm:my-12 text-xl sm:text-2xl lg:text-3xl font-bold leading-snug">
                <span class="block">{{ product.title }}</span>
                {% if product.subtitle %}
                <span class="inline-block mt-4 p-2 text-lg leading-none font-bold bg-gray text-white">{{ product.subtitle }}</span>
                {% endif %}
              </h1>
              <p class="pt-4 sm:pt-6 border-t border-dashed border-gray-400 text-left leading-relaxed sm:leading-loose">
                {{ product.description }}
              </p>
              {% if product.brand.name %}
              <div class="mt-4 p-4 bg-crimson flex justify-between items-center">
                <div class="flex-none w-8 h-8 bg-white rounded-full flex justify-center items-center">
                  <svg-vue icon="medal" class="w-6 h-6 text-crimson"></svg-vue>
                </div>
                <span class="flex-1 pl-2 text-left text-white">{{ product.brand.name }}</span>
                <svg-vue icon="chevron_alt" class="flex-none w-4 h-4 rotate-90 text-white"></svg-vue>
              </div>
              {% endif %}
              {% if product.series.name %}
              <div class="mt-4 p-4 bg-white border border-crimson flex justify-between items-center">
                <div class="flex-none w-8 h-8 bg-white rounded-full flex justify-center items-center">
                  <svg-vue icon="relation" class="w-6 h-6 text-crimson"></svg-vue>
                </div>
                <span class="flex-1 pl-2 text-left text-crimson">{{ product.series.name }}</span>
                <svg-vue icon="chevron_alt" class="flex-none w-4 h-4 rotate-90 text-crimson"></svg-vue>
              </div>
              {% endif %}
            </div>
          </div>

          <div class="detail mt-8 md:mt-10">
            <h2 class="dotted">
              <span>基本情報</span>
            </h2>

            <div class="hidden w-full mt-6">
              <div class="bg-gray-100 p-4 pb-3">
                <h4 class="w-full mb-3">
                  <span class="text-crimson font-bold">栄養成分</span>
                  <span class="text-xs text-crimson">（100g当り）</span>
                  <span class="text-2xs">※サンプル品分析による推定値</span>
                </h4>
                <div class="sm:flex flex-wrap sm:-mx-4">
                  <div class="w-full sm:w-1/2 md:w-1/3 sm:px-4">
                    <dl class="flex flex-wrap items-start">

                      <dt class="w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">title</span>
                      </dt>
                      <dd class="w-7/12 py-1 pl-3 mb-1 text-xs">value</dd>

                    </dl>
                  </div>
                  <div class="w-full sm:w-1/2 md:w-1/3 sm:px-4 md:border-l border-dashed border-gray-300">
                    <dl class="flex flex-wrap items-start">

                      <dt class="w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">title</span>
                      </dt>
                      <dd class="w-7/12 py-1 pl-3 mb-1 text-xs">value</dd>

                    </dl>
                  </div>
                  <div class="w-full sm:w-1/2 md:w-1/3 sm:px-4 md:border-l border-dashed border-gray-300">
                    <dl class="flex flex-wrap justify-start items-start">

                      <dt class="w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">title</span>
                      </dt>
                      <dd class="w-7/12 py-1 pl-3 mb-1 text-xs">value</dd>

                    </dl>
                  </div>
                </div>
              </div>

            </div>

            <div class="sm:flex sm:-mx-2 mt-6">
              <div class="w-full sm:w-6/12 sm:px-2">
                <div class="h-full p-4 bg-gray-100">
                  <h3 class="w-full text-crimson font-bold">調理設備</h3>
                  <div class="flex flex-wrap -mx-0.5 mt-3">
                    {% for facility in facility_list  %}
                    <div class="w-1/3 px-0.5 mt-1">
                      <div class="py-3 flex flex-col justify-center items-center bg-white text-center {% if facility in product.facility.all %}text-crimson{% else %}text-gray-400{% endif %}">
                        {% if facility.slug == 'fry' %}
                        <svg-vue icon="{{ facility.slug }}" class="w-18 h-14 mx-auto"></svg-vue>
                        {% else %}
                        <svg-vue icon="{{ facility.slug }}" class="w-16 h-14 mx-auto"></svg-vue>
                        {% endif %}
                        <span class="block text-sm font-bold">{{ facility.name }}</span>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="w-full sm:w-6/12 sm:px-2">
                <div class="h-full p-4 bg-gray-100 mt-3 sm:mt-0">
                  <h3 class="w-full text-crimson font-bold">調理条件</h3>
                  <div class="mt-4">
                    <div class="w-full mt-1">
                      <div class="facility flex bg-white{% if product.handling_water %} is_active{% endif %}">
                        <div class="icon w-20 min-h-[65px] flex flex-col justify-center items-center text-center">
                          <svg-vue icon="water" class="w-9 h-8 text-white mx-auto"></svg-vue>
                          <span class="block mt-1 text-xs font-bold leading-none text-white">加水</span>
                        </div>
                        <div class="flex justify-center items-center">
                          <svg-vue icon="triangle" class="arrow w-3 h-4"></svg-vue>
                        </div>
                        <div class="flex-1 flex items-center">
                          <div class="body py-2 pl-4 text-sm font-bold">{{ product.handling_water | linebreaksbr | default:"---" }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="w-full mt-1">
                      <div class="facility flex bg-white{% if product.handling_temp %} is_active{% endif %}">
                        <div class="icon w-20 min-h-[65px] flex flex-col justify-center items-center text-center">
                          <svg-vue icon="temp" class="w-8 h-8 text-white mx-auto"></svg-vue>
                          <span class="block mt-1 text-xs font-bold leading-none text-white">温度</span>
                        </div>
                        <div class="flex justify-center items-center">
                          <svg-vue icon="triangle" class="arrow w-3 h-4"></svg-vue>
                        </div>
                        <div class="flex-1 flex items-center">
                          <div class="body py-2 pl-4 text-sm font-bold">
                            {{ product.handling_temp | linebreaksbr | default:"---" }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="w-full mt-1">
                      <div class="facility flex bg-white{% if product.handling_time %} is_active{% endif %}">
                        <div class="icon w-20 min-h-[65px] flex flex-col justify-center items-center text-center">
                          <svg-vue icon="time" class="w-8 h-8 text-white mx-auto"></svg-vue>
                          <span class="block mt-1 text-xs font-bold leading-none text-white">時間</span>
                        </div>
                        <div class="flex justify-center items-center">
                          <svg-vue icon="triangle" class="arrow w-3 h-4"></svg-vue>
                        </div>
                        <div class="flex-1 flex items-center">
                          <div class="body py-2 pl-4 text-sm font-bold">{{ product.handling_time | linebreaksbr | default:"---" }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="w-full mt-1">
                      <div class="facility flex bg-white{% if product.handling_recipe %} is_active{% endif %}">
                        <div class="icon w-20 min-h-[65px] flex flex-col justify-center items-center text-center">
                          <svg-vue icon="recipe" class="w-9 h-8 text-white mx-auto"></svg-vue>
                          <span class="block mt-1 text-xs font-bold leading-none text-white">基本レシピ</span>
                        </div>
                        <div class="flex justify-center items-center">
                          <svg-vue icon="triangle" class="arrow w-3 h-4"></svg-vue>
                        </div>
                        <div class="flex-1 flex items-center">
                          <div class="body py-2 pl-4 text-sm font-bold">{{ product.handling_recipe | linebreaksbr | default:"---" }}</div>
                        </div>
                      </div>
                    </div>
                    {% if product.handling_extra %}
                    <div class="w-full mt-1">
                      <div class="flex bg-white">
                        <div class="">
                          <div class="w-20 h-full flex justify-center items-center bg-crimson text-center">
                            <span class="block text-sm font-bold text-white">ご参考</span>
                          </div>
                        </div>
                        <div class="flex justify-center items-center">
                          <svg-vue icon="triangle" class="w-3 h-4 text-crimson"></svg-vue>
                        </div>
                        <div class="flex-1 flex items-center">
                          <div class="py-4 pl-4 text-xs">{{ product.handling_extra | linebreaksbr }}</div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% if product.freespace_a %}
              {{ product.freespace_a }}
            <div class="w-full mt-4">
              <div class="flex items-center">
                <a href="#" class="text-xs text-crimson font-bold underline hover:no-underline">テキストが入ります。テキストが入ります。テキストが入ります。</a>
                <a href="#">
                  <svg-vue icon="chevron" class="w-3 h-3 ml-2 text-crimson"></svg-vue>
                </a>
              </div>
            </div>

            <div class="extra_block flex-1 mt-4 px-4 border-l-3 border-solid border-crimson">
              <h5>
                <span class="text-crimson font-bold text-sm">title</span>
                <span class="ml-2 text-xs font-normal">subtitle</span>
              </h5>
              <div class="pt-2 text-xs">テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </div>
            {% endif %}

            <div class="w-full mt-4">

              <div class="p-4 bg-gray-100">
                <h3 class="w-full text-crimson font-bold">業態別おすすめ</h3>
                <ul class="flex flex-wrap -mx-1 mt-2">
                  {% for industry in industry_list %}
                  <li class="w-full sm:w-1/2 xl:w-4/12 px-1 mt-2">
                    <div class="p-2 flex items-center border bg-white {% if industry in product.industry.all %}border-crimson text-crimson{% else %}border-gray-300 text-gray-400{% endif %}">
                      {% if industry in product.industry.all %}
                      <svg-vue icon="check" class="flex-none w-6 h-6 text-crimson"></svg-vue>
                      {% else %}
                      <div class="flex-none w-6 h-6 border-2 border-gray-200 rounded-full"></div>
                      {% endif %}
                      <span class="flex-1 pr-6 text-xs text-center leading-none">{{ industry.name }}</span>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>

          <div class="detail mt-8 md:mt-12">
            <h2 class="dotted">
              <span>詳細情報</span>
            </h2>
            <div class="flex flex-wrap -mx-2 pt-2">
              <div class="w-full sm:w-1/2 px-2 mt-4">
                <div class="h-full p-4 bg-gray-100">
                  <h3 class="w-full text-crimson font-bold">栄養成分</h3>

                  <div class="pt-3">
                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">生産国</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.country | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">荷姿</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.packing | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">温度帯</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">
                        {{ product.preservation.name | default:'---' }}
                      </dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">賞味期限</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.expiration_date | default:'---' }}</dd>
                    </dl>
                  </div>

                </div>
              </div>

              <div class="w-full sm:w-1/2 px-2 mt-4">
                <div class="h-full p-4 bg-gray-100">
                  <h3 class="w-full text-crimson font-bold">コード</h3>

                  <div class="pt-3">
                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">POS</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.pos | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">GTIN</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.gtin | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">マークコード</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.markcode }}</dd>
                    </dl>

                  </div>

                </div>
              </div>

              <div class="w-full sm:w-1/2 px-2 mt-4 flex flex-col">
                <div class="flex-none p-4 bg-gray-100">
                  <h3 class="w-full text-crimson font-bold">梱包<span class="text-xs font-normal">（個包装サイズ）</span></h3>

                  <div class="pt-3">

                    {% if false %}
                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">重量</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.packing_weight | default:'---' }}</dd>
                    </dl>
                    {% endif %}

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">タテ</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.packing_height | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">ヨコ</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.packing_width | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">奥行/厚み</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.packing_depth | default:'---' }}</dd>
                    </dl>

                  </div>
                </div>

                <div class="flex-1 border border-dashed py-3 px-4 mt-4">
                  <h4 class="text-crimson"><span class="font-bold">個包装サイズについて</span> <span class="text-xs">（単位：mm）</span></h4>
                  <div class="flex items-center mt-4">
                    <div class="w-7/12 text-sm pr-4">
                      <h5 class="px-2 py-1 font-bold bg-gray-100">袋もの、箱もの</h5>
                      <p class="mt-2">パッケージ表を正面にして、タテ×ヨコ×奥行（厚み）の表示</p>
                    </div>
                    <div class="w-6/12">
                      <img src="{% static 'images/size_box.png' %}" alt="袋もの、箱もの">
                    </div>
                  </div>
                  <div class="flex items-center mt-4">
                    <div class="w-7/12 text-sm pr-4">
                      <h5 class="px-2 py-1 font-bold bg-gray-100">缶もの</h5>
                      <p class="mt-2">直径×高さの表示</p>
                    </div>
                    <div class="w-6/12 px-8">
                      <img src="{% static 'images/size_can.png' %}" alt="缶もの">
                    </div>
                  </div>
                </div>

              </div>

              <div class="w-full sm:w-1/2 px-2 mt-4 flex flex-col">
                <div class="flex-none p-4 bg-gray-100">
                  <h3 class="w-full text-crimson font-bold">梱包<span class="text-xs font-normal">（外装サイズ）</span></h3>
                  <div class="pt-3">

                    {% if false %}
                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">総重量</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.carton_weight | default:'---' }}</dd>
                    </dl>
                    {% endif %}

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">タテ</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.carton_height | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">ヨコ</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.carton_width | default:'---' }}</dd>
                    </dl>

                    <dl class="mt-1 flex flex-wrap justify-start items-start pb-0.5 border-b border-gray-200">
                      <dt class="w-6/12 lg:w-5/12 py-1 px-1 mb-1 text-xs font-bold bg-white">
                        <span class="block border-l-4 border-solid border-crimson px-2">奥行/厚み</span>
                      </dt>
                      <dd class="w-6/12 lg:w-7/12 py-1 pl-3 mb-1 text-xs">{{ product.carton_depth | default:'---' }}</dd>
                    </dl>

                  </div>
                </div>

                <div class="flex-1 border border-dashed py-3 px-4 mt-4">
                  <h4 class="text-crimson"><span class="font-bold">外装サイズについて</span> <span class="text-xs">（単位：mm）</span></h4>
                  <div class="flex items-center mt-4">
                    <div class="w-7/12 text-sm pr-4">
                      <h5 class="px-2 py-1 font-bold bg-gray-100">段ボールサイズ</h5>
                      <p class="mt-2">長側面を正面にして、タテ×ヨコ×奥行の表示</p>
                    </div>
                    <div class="w-6/12">
                      <img src="{% static 'images/size_cardboard.png' %}" alt="段ボールサイズ">
                    </div>
                  </div>
                  <div class="flex items-center mt-4 sm:mt-8">
                    <div class="w-7/12 text-sm pr-4">
                      <h5 class="px-2 py-1 font-bold bg-gray-100">クラフト袋サイズ</h5>
                      <p class="mt-2">正面から見て、タテ×ヨコ×奥行の表示</p>
                    </div>
                    <div class="w-6/12 px-8">
                      <img src="{% static 'images/size_pack.png' %}" alt="クラフト袋サイズ">
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <a href="{% url 'stores' %}" class="block w-full bg-blue-50 p-4 mt-8 md:mt-12 hover:text-white no-hover-svg">
              <h3 class="flex justify-center md:justify-start items-center">
                <div class="w-10 h-10 bg-blue rounded-full flex justify-center items-center">
                  <svg-vue icon="basket" class="w-6 h-6 text-white"></svg-vue>
                </div>
                <div class="ml-2 mr-4 md:mr-0 text-blue">
                  <span class="block text-xs font-en font-bold uppercase leading-none">ONLINE STORE</span>
                  <span class="block mt-1 text-lg font-bold leading-none">販売サイトのご案内</span>
                </div>
              </h3>
              <div class="mt-4 bg-white flex flex-col md:flex-row justify-between items-center">
                <p class="flex-1 text-sm leading-relaxed p-4 md:p-6 text-black">弊社業務用商品をお買い求めの場合は、リンク先の弊社お取引先様ECサイトでもご購入いただけます。</p>
                <div class="w-full md:w-auto md:pr-6 flex-none">
                  <div class="border-t border-dashed border-blue md:border-none flex justify-center items-center p-4 md:p-0">
                    <span class="font-bold text-blue">詳しくはこちら</span>
                    <div class="w-8 h-8 ml-2 bg-blue flex justify-center items-center">
                      <svg-vue icon="arrow" class="w-6 h-3 text-white"></svg-vue>
                    </div>
                  </div>
                </div>
              </div>
          </a>

          <div class="corner mt-8 md:mt-12 p-4 border border-black bg-white">
            <h4 class="pt-4 px-4 md:px-0 text-sm md:text-base font-bold leading-snug md:text-center">「日清フーズ（株）」は、2022年1月1日より、<br class="hidden md:block">「（株）日清製粉ウェルナ」に社名を変更いたしました。</h4>
            <p class="py-3 md:pt-6 md:pb-0 px-4 text-xs text-left">社名変更に伴い、各製品のパッケージ表記は、これまでの「日清フーズ（株）」から「（株）日清製粉ウェルナ」へ変更いたします。</p>
          </div>

        </div>

        <div class="flex-none md:w-[280px] md:px-4 mt-8 md:mt-0">
          <a href="{% url 'products.category' %}">
            <h3 class="flex items-center p-3 bg-crimson">
              <div class="w-7 h-7 flex justify-center items-center bg-white rounded-full">
                <svg-vue icon="grid" class="w-4 h-4 text-crimson"></svg-vue>
              </div>
              <span class="text-white ml-2 font-bold tracking-wider">商品メニュー</span>
            </h3>
          </a>
          <ul>
            {% for category in category_list %}
              <li>
                <a href="{% url 'products.products' cat=category.slug %}" class="w-full py-4 flex justify-between items-center border-b border-dashed border-gray-600">
                  <div class="flex-none w-16 h-16">
                    <img src="{{ category.photo|thumbnail_url:'square_small' }}" alt="天ぷら粉">
                  </div>
                  <div class="flex-1 text-left">
                    <span class="block pl-3 font-bold">{{ category.title }}</span>
                    {% if category.subtitle %}
                      <span class="block pl-3 text-sm">{{ category.subtitle }}</span>
                    {% endif %}
                  </div>
                  <svg-vue icon="chevron_alt" class="flex-none w-3 h-3 rotate-90"></svg-vue>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="mt-8 md:mt-12">
        <h2 class="slashed w-full text-center pt-8 mb-10">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide">OTHER LINEUP</span>
          <span class="block text-2xl md:text-3xl font-bold leading-snug">その他のラインアップ</span>
        </h2>
        <div class="-mx-4 sm:mx-0">
          <card-slider :products="[
            {% for related in related_items %}
              {
                  'title': '{{ related.title }}',
                  'category': '{{ related.main_category.title }}',
                  'staticpath': '{% static 'images/' %}',
                  {% if related.main_photo %}
                  'image': '{{ related.main_photo.photo | thumbnail_url:'square' }}',
                  {% endif %}
                  'link': '{% url 'products.detail' slug=related.markcode %}',
                  'weight': '{{ related.packing_weigh | default:'---' }}',
                  'code': '{{ related.markcode }}',
                  'preservation': '{{ related.preservation.slug }}',
              },
            {% endfor %}
          ]">
          </card-slider>
        </div>
      </div>

    </div>
  </div>

{#  <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}
{% endblock content %}
