{% extends "base.html" %}
{% load static %}

{% block title %}販売サイトのご案内｜日清製粉ウェルナ業務用{% endblock title %}
{% block description %}日清製粉ウェルナの業務用商品をお買い求めの際の、弊社お取引先様ECサイトをご案内しております。{% endblock description %}

{% block sidenav %}
  <div class="md:sticky md:top-0 md:right-0 z-40 md:w-full">
    <div class="nav fixed md:absolute bottom-0 md:top-1/2 md:bottom-auto left-0 md:left-auto md:right-0 z-40 w-full md:w-16 md:h-screen md:mt-[-80px] flex md:flex-col justify-center items-center text-white pointer-events-none">
      <brand-menu static="{% static '' %}">
        <ul class="hidden w-full">
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#top')">
            <span class="block px-4 border-l-4 border-white leading-tight">トップ</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#about')">
            <span class="block px-4 border-l-4 border-white leading-tight">IQFバラ凍結パスタとは</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#mini')">
            <span class="block px-4 border-l-4 border-white leading-tight">IQF バラ凍結 MINIシリーズ特徴</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#menu')">
            <span class="block px-4 border-l-4 border-white leading-tight">おすすめメニュー紹介</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#lineup')">
            <span class="block px-4 border-l-4 border-white leading-tight">商品ラインナップ</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
        </ul>
      </brand-menu>
      <a href="{% url 'contact' %}" class="w-1/2 md:w-full py-3 md:py-6 md:px-3 md:mt-0.5 bg-crimson hover:bg-crimson-400 hover:text-white flex md:flex-col justify-center items-center no-hover-svg pointer-events-auto">
        <svg-vue icon="mail" class="w-6 h-6 text-white"></svg-vue>
        <img src="{% static 'images/v_text_contact.png' %}" alt="お問い合わせ" class="hidden md:block w-4 mt-2">
        <span class="md:hidden ml-2 text-sm font-bold text-white">お問い合わせ</span>
      </a>
      <a href="https://secure-link.jp/wf/?c=wf14875648" target="_blank" class="hidden w-1/2 md:w-full py-3 md:py-6 md:px-3 md:mt-0.5 bg-green text-white hover:bg-green-400 flex md:flex-col justify-center items-center pointer-events-auto">
        <svg-vue icon="foodie" class="w-6 h-6 text-white"></svg-vue>
        <img src="{% static 'images/v_text_sample.png' %}" alt="無料サンプル" class="hidden md:block w-4 mt-2">
        <span class="md:hidden ml-2 text-sm font-bold text-white">無料サンプル</span>
      </a>
    </div>
  </div>
{% endblock sidenav %}

{% block content %}
  <section id="top" class="h-[770px] md:h-[900px] bg-red-to-white">
    <div class="flex flex-col-reverse md:flex-row items-center max-w-[2000px] mx-auto">
      <div class="relative z-20 flex-none md:w-96 p-1 -mt-12 mx-4 md:mt-0 md:ml-24 md:-mr-24 bg-white shadow-lg">
        <div class="py-6 px-10 md:p-8 border-t-8 border-brown">
          <img src="{% static 'images/brands/iqf/logo-iqf.png' %}" class="w-[120px] md:w-[148px] h-auto mx-auto" alt="「IQFバラ凍結パスタ」シリーズ">
        </div>
        <p class="border-t border-dashed border-black p-6 md:px-10 text-sm font-bold leading-relaxed md:leading-loose">
          マ・マー THE PRO「IQFバラ凍結パスタ」シリーズは、ゆで時間約30秒で好きな量を好きな時に使用できる冷凍ショートパスタです。 豊富なラインアップで外食・中食の様々な業態で幅広くご活用いただけます。
        </p>
      </div>
      <div class="relative z-10 flex-1 md:h-[600px]">
        <img src="{% static 'images/brands/iqf/image-main.jpg' %}" class="w-full h-full object-cover" alt="「IQFバラ凍結パスタ」シリーズ">
        <span class="absolute right-0 bottom-0 p-4 text-2xs font-bold text-black tracking-wide">※調理例</span>
      </div>
    </div>
  </section>

  <section id="about" class="-mt-60 overflow-x-hidden">
    <div class="container mx-auto">
      <div class="md:flex">
        <div class="md:w-1/2">
          <div class="relative md:-ml-24">
            <img src="{% static 'images/brands/iqf/image-about_01.png' %}" class="w-full h-auto" alt="「IQFバラ凍結パスタ」シリーズ">
            <span class="absolute left-0 bottom-0 bg-transparent m-4 p-0.5 text-2xs font-bold text-gray-600 tracking-wide leading-none">※調理例</span>
          </div>
        </div>
        <div class="md:w-1/2">
          <h2 class="mt-6 md:mt-12 text-xl md:text-2.5xl font-bold text-crimson text-center md:text-right tracking-tight">「IQFバラ凍結パスタ」シリーズの特徴</h2>
          <p class="mt-6 md:mt-10 text-sm md:text-base leading-loose md:pl-12">
            通常、乾麺の場合１０分以上かかるショートパスタのゆで時間を約３０秒に短縮でき、時短調理に貢献する製品です。下ゆでが不要のため、仕込みの簡便化、調理の効率化が図れます。また、バラ凍結のため、メニューに合わせてお好みの量をロスなく使用できます。<br><br>
            当社独自技術の配合で時間が経っても食感が長持ちするため、テイクアウトやデリバリーにも最適です。押し出し製法でコシの強さと肉厚でしっかりした食感を実現しました。
          </p>
        </div>
      </div>
      <div class="mt-8 md:-mt-18 md:flex items-center">
        <div class="md:w-1/2">
          <div class="flex items-center my-4 md:my-10">
            <h3 class="w-20 h-20 md:w-28 md:h-28 bg-crimson text-white font-bold flex justify-center items-center text-1.5xl md:text-3xl leading-tight tracking-[3px]">
              時短<br>料理
            </h3>
            <div class="ml-6 text-xl md:text-2xl font-bold tracking-wide">
              ゆで時間<span class="marked text-crimson mx-0.5">約30秒</span>で<br>
              ショートパスタを提供
            </div>
          </div>
          <div class="flex items-center my-4 md:my-10">
            <h3 class="w-20 h-20 md:w-28 md:h-28 bg-crimson text-white font-bold flex justify-center items-center text-1.5xl md:text-3xl leading-tight tracking-[3px]">
              ロス<br>削減
            </h3>
            <div class="ml-6 text-xl md:text-2xl font-bold tracking-wide">
              <span class="marked text-crimson mr-0.5">好きな量</span>を<span class="marked text-crimson mx-0.5">好きな時</span>に<br>
              使用可能
            </div>
          </div>
          <div class="flex items-center my-4 md:my-10">
            <h3 class="w-20 h-20 md:w-28 md:h-28 bg-crimson text-white font-bold flex justify-center items-center text-1.5xl md:text-3xl leading-tight tracking-[3px]">
              時短<br>料理
            </h3>
            <div class="ml-6 text-xl md:text-2xl font-bold tracking-wide">
              こだわりの配合により<br>
              <span class="marked text-crimson">おいしさ長持ち</span>
            </div>
          </div>
        </div>
        <div class="relative md:w-1/2 mt-12 md:mt-0">
          <div class="flex flex-wrap">
            <div class="w-full">
              <div class="relative z-20 p-10 -mt-12 -mr-12">
                <div class="relative">
                  <img src="{% static 'images/brands/iqf/image-about_02.jpg' %}" class="w-full h-auto" alt="「IQFバラ凍結パスタ」シリーズ">
                  <span class="absolute right-0 bottom-0 bg-white m-2 p-0.5 text-2xs font-bold text-gray-800 tracking-wide leading-none">※調理例</span>
                </div>
              </div>
              <div class="absolute top-0 left-0 z-10 bg-yellow w-screen h-[80%] mt-[10%]"></div>
            </div>
            <div class="w-1/2">
              <div class="relative z-20 pr-10 -ml-12">
                <div class="relative">
                  <img src="{% static 'images/brands/iqf/image-about_03.jpg' %}" class="w-full h-auto" alt="「IQFバラ凍結パスタ」シリーズ">
                  <span class="absolute right-0 bottom-0 bg-white m-2 p-0.5 text-2xs font-bold text-gray-800 tracking-wide leading-none">※調理例</span>
                </div>
              </div>
            </div>
            <div class="w-1/2">
              <div class="relative z-20 pr-6">
                <div class="relative">
                  <img src="{% static 'images/brands/iqf/image-about_04.jpg' %}" class="w-full h-auto" alt="「IQFバラ凍結パスタ」シリーズ">
                  <span class="absolute right-0 bottom-0 bg-white m-2 p-0.5 text-2xs font-bold text-gray-800 tracking-wide leading-none">※調理例</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-6">
    <div class="container mx-auto">
      <div class="">
        <h3 class="text-xl md:text-2xl text-crimson font-bold">用途によって選べる嬉しい２つのサイズ</h3>
        <p class="mt-6 text-sm md:text-base leading-loose">
          食べ応えのあるサイズ感の「IQF（バラ凍結）シリーズ」を5種、長さ約３ｃｍのミニサイズ<span class="text-2xs align-top">※</span>で食べやすい「IQF（バラ凍結）MINI シリーズ」を3種、全８種の充実のラインアップを展開しています。
          <span class="block mt-3 text-sm">※ 製品の長さには個体差があります</span>
        </p>
      </div>
      <div id="mini" class="mt-12">
        <div class="dotted"></div>
        <h3 class="mt-6 mb-10 md:my-12 text-2xl md:text-3xl text-crimson font-bold text-center">
          IQF<span class="text-lg">（バラ凍結）</span>MINIシリーズ<br>
          <span class="bg-wave crimson">嬉しい3つのポイント</span>
        </h3>
        <div class="md:flex justify-center md:mt-48 md:-mx-6 pt-6 pb-0.5 px-6 md:py-0 bg-crimson-50">
          <div class="md:w-1/3 md:px-6">
            <div class="px-8 md:px-0">
              <img src="{% static 'images/brands/iqf/figure-point_01.png' %}" alt="" class="md:-mt-36">
            </div>
            <p class="mt-6 mb-10 text-lg font-bold text-center">スプーンにちょうど良くのっかる<br>ので取り分けやすく、食べやすい</p>
          </div>
          <div class="md:w-1/3 md:px-6">
            <div class="px-8 md:px-0">
              <img src="{% static 'images/brands/iqf/figure-point_02.png' %}" alt="" class="md:-mt-36">
            </div>
            <p class="mt-6 mb-10 text-lg font-bold text-center">メインから副菜まで様々な<br>メニューに活用が可能</p>
          </div>
          <div class="md:w-1/3 md:px-6">
            <div class="px-8 md:px-0">
              <img src="{% static 'images/brands/iqf/figure-point_03.png' %}" alt="" class="md:-mt-36">
            </div>
            <p class="mt-6 mb-10 text-lg font-bold text-center">子供から高齢者まで幅広い世代に<br>支持されるサイズ</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="menu" class="mt-12 md:mt-20 py-12 md:py-16 bg-gray-50">
    <div class="container mx-auto">
      <div class="md:flex items-center">
        <h3 class="text-xl md:text-2xl text-white font-bold">
          <span class="px-2 py-1 inline-block bg-crimson">「IQFバラ凍結パスタ」シリーズ</span>
          <span class="mt-2 px-2 py-1 inline-block bg-crimson">おすすめメニューのご紹介</span>
        </h3>
        <p class="mt-6 md:mt-0 py-5 px-6 bg-white border border-dashed border-gray-800 rounded text-sm md:text-lg font-bold">
          ショートパスタそれぞれの特徴を活かしたバラエティ豊かなメニュー展開が可能です
        </p>
      </div>
      <div class='js-scrollable mt-6 md:mt-14 overflow-x-auto'>
        <table class='table table-auto w-full min-w-[1040px] text-sm bg-white'>
          <thead>
            <tr>
              <th class="py-1" rowspan="2">製品</th>
              <th class="py-1 bg-yellow-100" colspan="2">味の方向性</th>
              <th class="py-1 bg-crimson-100" colspan="5">ソースの系統</th>
              <th class="py-1 bg-blue-100" colspan="4">食シーン</th>
            </tr>
            <tr>
              <th class="py-1 bg-yellow-50">あっさり</th>
              <th class="py-1 bg-yellow-50">こってり</th>
              <th class="py-1 bg-crimson-50">トマト系</th>
              <th class="py-1 bg-crimson-50">オイル系</th>
              <th class="py-1 bg-crimson-50">ミート系</th>
              <th class="py-1 bg-crimson-50 tracking-tight">クリーム系</th>
              <th class="py-1 bg-crimson-50">その他</th>
              <th class="py-1 bg-blue-50">メイン</th>
              <th class="py-1 bg-blue-50">サラダ</th>
              <th class="py-1 bg-blue-50">おつまみ</th>
              <th class="py-1 bg-blue-50">スープ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-penne_rigate.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">ペンネリガーテ</span>
                </div>
              </th>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
            </tr>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-fusilli.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">フィジリ</span>
                </div>
              </th>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
            </tr>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-rigatoni.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">リガトーニ</span>
                </div>
              </th>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
            </tr>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-casareccia.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">カサレッチャ</span>
                </div>
              </th>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
            </tr>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-paccheri.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">パッケリ</span>
                </div>
              </th>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
            </tr>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-shell.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">シェル</span>
                </div>
              </th>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
            </tr>
            <tr>
              <th class="py-1 px-2">
                <div class="flex items-center">
                  <img src="{% static 'images/brands/iqf/thumb-straight.png' %}" alt="ペンネリガーテ" class="w-10">
                  <span class="pl-2 font-medium tracking-tight">ストレート</span>
                </div>
              </th>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-yellow-50 text-yellow-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-yellow-700 leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-crimson-50 text-crimson-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-crimson leading-none"></span>
              </td>
              <td class="w-[79px]">&nbsp;</td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
              <td class="w-[79px] px-1 text-xl bg-blue-50 text-blue-800">
                <span class="block mx-auto w-6 h-6 rounded-full border-2 border-blue leading-none"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="lineup" class="mt-10">
    <div class="container mx-auto">

      <h2 class="slashed w-full pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">LINEUP</span>
          <span class="block text-2xl font-bold leading-snug tracking-tight">「IQFバラ凍結パスタ」シリーズ<br class="md:hidden">のラインアップ</span>
        </div>
      </h2>

      <div class="flex flex-wrap justify-start -mx-1 sm:-mx-2 mt-8 md:mt-10 transform">

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290210' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290210_01.jpg.412x412_q85_crop.jpg" alt="IQF（バラ凍結）ペンネリガーテ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">IQF（バラ凍結）ペンネリガーテ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290210</dd>
            </dl>
          </a>
        </div>

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290220' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290220_01.jpg.412x412_q85_crop.jpg" alt="IQF（バラ凍結）フィジリ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">IQF（バラ凍結）フィジリ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290220</dd>
            </dl>
          </a>
        </div>

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290230' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290230_01.jpg.412x412_q85_crop.jpg" alt="IQF（バラ凍結）リガトーニ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">IQF（バラ凍結）リガトーニ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290230</dd>
            </dl>
          </a>
        </div>

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290280' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290280_01.jpg.412x412_q85_crop.jpg" alt="IQF（バラ凍結）カサレッチャ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">IQF（バラ凍結）カサレッチャ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290280</dd>
            </dl>
          </a>
        </div>

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290290' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290290_01.jpg.412x412_q85_crop.jpg" alt="IQF（バラ凍結）パッケリ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">IQF（バラ凍結）パッケリ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">400g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290290</dd>
            </dl>
          </a>
        </div>

      </div>

    </div>
  </section>

  <section id="lineup-mini" class="mt-10">
    <div class="container mx-auto">

      <h2 class="slashed w-full pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">LINEUP</span>
          <span class="block text-2xl font-bold leading-snug tracking-tight">IQF<span class="text-lg">（バラ凍結）</span><br class="md:hidden">MINIシリーズ<br class="md:hidden">のラインアップ</span>
        </div>
      </h2>

      <div class="flex flex-wrap justify-center -mx-1 sm:-mx-2 mt-8 md:mt-10 transform">

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290420' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290420_01.jpg.412x412_q85_crop.jpg" alt="マ・マー THE PRO IQF（バラ凍結）MINI フィジリ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">マ・マー THE PRO IQF（バラ凍結）MINI フィジリ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290420</dd>
            </dl>
          </a>
        </div>

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290440' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290440_01.jpg.412x412_q85_crop.jpg" alt="マ・マー THE PRO IQF（バラ凍結）MINI ストレートマカロニ" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">マ・マー THE PRO IQF（バラ凍結）MINI ストレートマカロニ</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290440</dd>
            </dl>
          </a>
        </div>

        <div class="w-full sm:w-1/3 md:w-3/12 px-1 sm:px-2 mb-2 sm:mb-4">
          <a href="{% url 'products.detail' '290430' %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
            <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

              <div class="py-3 overflow-hidden">
                <img src="https://static-pro-nisshin-seifun-welna.s3.amazonaws.com/media/photos/290430_01.jpg.412x412_q85_crop.jpg" alt="マ・マー THE PRO IQF（バラ凍結）MINI シェル" class="w-auto h-full mx-auto">
              </div>

              <div class="hidden absolute left-0 top-0 w-12 h-12 mx-2">
                <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
              </div>

              <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                <img src="{% static 'images/badge_frozen_mini.png' %}" alt="冷凍" class="no-effect">
              </div>
            </div>
            <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
              <span class="p-1 text-xs border border-crimson text-crimson leading-none">ショートパスタ</span>
              <span class="mt-2 text-sm md:text-base">マ・マー THE PRO IQF（バラ凍結）MINI シェル</span>
            </h4>
            <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
              <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">500g×12×2</dd>
              <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
              </dt>
              <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">290430</dd>
            </dl>
          </a>
        </div>

      </div>

    </div>
  </section>

  <section id="series" class="mt-10 md:mt-24 py-6 md:py-16 bg-crimson">
    <div class="container mx-auto">
      <div class="md:flex md:-mx-16">
        <div class="hidden md:block w-[30%]">
          <div class="h-full">
            <img src="{% static 'images/brands/mama_the_pro/image-mama_the_pro_01.jpg' %}" alt="マ・マー THE PRO" class="h-full object-cover">
          </div>
        </div>
        <div class="md:w-[40%]">
          <div class="relative z-10 md:hidden h-[160px] rounded overflow-hidden">
            <img src="{% static 'images/brands/mama_the_pro/image-mama_the_pro_02.jpg' %}" alt="マ・マー THE PRO" class="w-full h-[160px] object-cover">
            <span class="absolute right-0 bottom-0 bg-transparent m-1 p-0.5 text-2xs font-bold text-black tracking-wide leading-none">※調理例</span>
          </div>
          <div class="h-full flex flex-col justify-between p-4 md:px-14 md:py-0">
            <img src="{% static 'images/brands/mama_the_pro/logo-mama_the_pro.png' %}" alt="マ・マー THE PRO" class="relative z-20 -mt-12 md:mt-0 w-[180px] md:w-[250px] mx-auto">
            <h3 class="text-center">
              <span class="block mt-5 text-white text-xl md:text-2xl font-bold tracking-tight">マ・マー THE PRO ブランドとは</span>
            </h3>
            <p class="mt-5 mb-8 md:mb-10 text-sm md:text-base text-white leading-relaxed md:leading-loose">
              多様化する食生活が、いつの時代も健康で、より豊かであるように。 自然の恵みで、世界の人々に健康をお届けする、日清製粉ウェルナの業務用パスタ関連ブランド「マ・マー THE PRO」。
            </p>
            <a href="{% url 'brand' 'mama-the-pro' %}" class="button bg-white text-crimson font-bold">マ・マー THE PROブランド<br>はこちらから</a>
          </div>
        </div>
        <div class="hidden md:block w-[30%]">
          <div class="relative h-full">
            <img src="{% static 'images/brands/mama_the_pro/image-mama_the_pro_02.jpg' %}" alt="マ・マー THE PRO" class="h-full object-cover">
            <span class="absolute right-0 bottom-0 bg-transparent m-2 p-0.5 text-2xs font-bold text-gray-200 tracking-wide leading-none">※調理例</span>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
