{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}販売サイトのご案内｜日清製粉ウェルナ業務用{% endblock title %}
{% block description %}日清製粉ウェルナの業務用商品をお買い求めの際の、弊社お取引先様ECサイトをご案内しております。{% endblock description %}

{% block sidenav %}
  <div class="md:sticky md:top-0 md:right-0 z-40 md:w-full">
    <div class="nav fixed md:absolute bottom-0 md:top-1/2 md:bottom-auto left-0 md:left-auto md:right-0 z-40 w-full md:w-16 md:h-screen md:mt-[-80px] flex md:flex-col justify-center items-center text-white pointer-events-none">
      <brand-menu static="{% static '' %}">
        <ul class="hidden w-full">
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#top')">
            <span class="block px-4 border-l-4 border-white leading-tight">トップ</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#about')">
            <span class="block px-4 border-l-4 border-white leading-tight">マ・マーTHE PROとは</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#recommend')">
            <span class="block px-4 border-l-4 border-white leading-tight">おすすめ商品紹介</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#series')">
            <span class="block px-4 border-l-4 border-white leading-tight">マ・マーTHE PROシリーズ紹介</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
          <li class="flex justify-between items-center py-4 border-t border-dashed border-brown-300 cursor-pointer" @click="scrollTo('#lineup')">
            <span class="block px-4 border-l-4 border-white leading-tight">商品ラインナップ</span>
            <svg-vue icon="chevron" class="w-3 h-3 rotate-90"></svg-vue>
          </li>
        </ul>
      </brand-menu>
      <a href="{% url 'contact' %}" class="w-1/2 md:w-full py-3 md:py-6 md:px-3 md:mt-0.5 bg-crimson hover:bg-crimson-400 hover:text-white flex md:flex-col justify-center items-center no-hover-svg pointer-events-auto">
        <svg-vue icon="mail" class="w-6 h-6 text-white"></svg-vue>
        <img src="{% static 'images/v_text_contact.png' %}" alt="お問い合わせ" class="hidden md:block w-4 mt-2">
        <span class="md:hidden ml-2 text-sm font-bold text-white">お問い合わせ</span>
      </a>
      <a href="https://secure-link.jp/wf/?c=wf14875648" target="_blank" class="hidden w-1/2 md:w-full py-3 md:py-6 md:px-3 md:mt-0.5 bg-green text-white hover:bg-green-400 flex md:flex-col justify-center items-center pointer-events-auto">
        <svg-vue icon="foodie" class="w-6 h-6 text-white"></svg-vue>
        <img src="{% static 'images/v_text_sample.png' %}" alt="無料サンプル" class="hidden md:block w-4 mt-2">
        <span class="md:hidden ml-2 text-sm font-bold text-white">無料サンプル</span>
      </a>
    </div>
  </div>
{% endblock sidenav %}

{% block content %}
  <section id="top" class="bg-red-to-white angled">
    <div class="flex flex-col-reverse md:flex-row justify-center items-center max-w-[1600px] mx-auto">
      <div class="relative z-20 flex-none md:w-96 2xl:w-[460px] 3xl:w-[520px] p-1 -mt-12 md:mt-0 md:pl-16">
        <div class="pb-4 px-16 md:px-0 md:pb-2">
          <img src="{% static 'images/brands/mama_the_pro/logo-mama_the_pro.png' %}" class="w-full h-auto mx-auto" alt="Smile Meal スマイルミール とは">
        </div>
        <p class="px-2 pb-6 text-sm md:text-base font-bold leading-relaxed md:leading-loose tracking-wide">
          多様化する食生活が、いつの時代も健康で、より豊かであるように。 自然の恵みで、世界の人々に健康をお届けする、日清製粉ウェルナの業務用パスタ関連ブランド「マ・マー THE PRO」。
        </p>
      </div>
      <div class="relative z-10 flex-1 md:h-full">
        <img src="{% static 'images/brands/mama_the_pro/image-main.png' %}" class="w-full h-full object-contain" alt="Smile Meal スマイルミール とは">
        <span class="absolute right-0 bottom-0 bg-transparent p-0.5 mb-[2%] mr-[20%] text-2xs font-bold text-white tracking-wide leading-none">※調理例</span>
      </div>
    </div>

    <section id="about" class="py-10 md:py-18 md:-mt-4 bg-slashed">
      <div class="container mx-auto">
        <div class="md:flex items-center">
          <div class="md:w-5/12">
            <img src="{% static 'images/brands/mama_the_pro/image-about.png' %}" class="w-full h-auto" alt="業務用のお客様に愛され続ける「マ・マー THE PRO」">
          </div>
          <div class="md:w-7/12 md:pl-12 mt-6 md:mt-0">
            <h2 class="w-full text-2xl md:text-3xl font-bold text-white text-center tracking-wider">
              <span class="inline-block pb-1 border-b-3 border-white">業務用市場に</span>
              <span class="inline-block pb-1 mt-2 border-b-3 border-white">プロクォリティをお届けする</span>
            </h2>
            <p class="mt-6 md:mt-10 md:px-12 text-sm md:text-base leading-loose text-white">
              「マ・マー THE PRO」は常温・冷凍それぞれの温度帯で、「早ゆでスパゲティ」シリーズや冷凍パスタシリーズ「PASTA　STELLA（パスタ・ステラ）」<br><br>をはじめとする多数のパスタ関連アイテムを有しています。
              これからも「おいしさ」「品質」の提供を基本としながら、業務用市場における多様化するニーズにお応えするプロクォリティの製品をお届けしてまいります。
            </p>
          </div>
        </div>
      </div>
    </section>

  </section>

  <section id="recommend" class="relative w-full">
    <div class="absolute left-0 top-0 z-10 w-full h-72 md:h-96">
      <img src="{% static 'images/brands/mama_the_pro/bg-mama_the_pro.jpg' %}" alt="「マ・マー　THE PRO」おすすめ製品" class="object-cover w-full h-full">
    </div>
    <div class="container mx-auto">
      <div class="relative z-20 h-72 md:h-96 flex justify-center md:justify-start items-center">
        <div class="w-44 md:w-60 p-5 bg-crimson text-center">
          <img src="{% static 'images/brands/mama_the_pro/logo-mama_the_pro.png' %}" alt="マ・マー　THE PRO">
          <div class="pt-6 pb-1 px-4">
            <img src="{% static 'images/brands/mama_the_pro/title-mama_the_pro_recommended.png' %}" alt="RECOMMENDED">
          </div>
          <span class="text-sm text-white font-bold leading-loose">おすすめ製品</span>
        </div>
      </div>
      <div class="mt-8 md:mt-16">
        <h2 class="dotted">
          <span class="text-lg md:text-2xl">早ゆでスパゲティシリーズ</span>
        </h2>
        <collapsable :initial_open="false" open_text="詳細を表示" close_text="詳細を隠す" :mobile_only="true">
          <div class="mt-6 md:mt-12 p-4 md:p-8 bg-gray-100">
            <div class="flex justify-center">
              <div class="w-60 mx-2">
                <img src="{% static 'images/brands/mama_the_pro/image-hayayude_16.png' %}" alt="早ゆでスパゲティ 1.6mm">
              </div>
              <div class="w-60 mx-2">
                <img src="{% static 'images/brands/mama_the_pro/image-hayayude_22.png' %}" alt="早ゆでスパゲティ 2.2mm">
              </div>
            </div>
          </div>
          <div class="mt-6 md:mt-10 md:flex md:-mx-6">
            <div class="flex-1 md:px-6">
              <p class="text-sm md:text-base leading-loose">
                当社独自の「早ゆで・スーパープロント製法」により、パスタ本来のおいしさはそのままにゆで時間を短縮しました。断面に4か所の切り込みが入った特殊形状で、本格アルデンテ食感はそのままに、ゆで時間を大幅に短縮することができ、オーダーからスピーディーにゆで立てのパスタメニューの提供が可能になりました（1.6㎜の場合：ゆで時間3分　2.2㎜の場合：ゆで時間8分）。</p>
              <div class="mt-6 md:mt-8 md:px-10">
                <h4 class="mb-4 py-2 text-xl font-bold text-crimson text-center bg-crimson-50">麺の断面写真</h4>
                <img src="{% static 'images/brands/mama_the_pro/figure_hayayude_01.png' %}" alt="アルデンテなゆで上がりに">
              </div>
            </div>
            <div class="mt-6 md:mt-0 flex-none md:w-[480px] md:px-6">
              <div class="p-6 md:p-10 border border-gray-800">
                <img src="{% static 'images/brands/mama_the_pro/text-hayayude_01.png' %}"
                     alt="早ゆでなのにゆで上がりの硬さが通常のパスタと同等品質！">
                <span
                  class="block my-6 py-2 px-4 text-lg text-white font-bold text-center bg-crimson">早ゆでパスタの破断強度データ</span>
                <img src="{% static 'images/brands/mama_the_pro/figure-hayayude_graph_01.png' %}" alt="早ゆでパスタの破断強度データ">
                <ul class="list-caution pt-6 text-xs">
                  <li>「早ゆでプロント1.6」のハンドリングは2分ボイル＋1分煽り工程、「マ・マー スパゲティ1.6」のハンドリングは6分ボイル＋1分煽り工程にて</li>
                  <li class="mt-3">当社調べ</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mt-8 md:mt-16 text-center">
            <div class="speech">
              <span class="text-sm font-bold">早ゆでスパゲティシリーズのある</span>
            </div>
            <div class="-mt-4 p-8 bg-crimson-50 text-center">
              <div class="w-64 mx-auto">
                <a href="#" class="button py-4"><span class="font-bold">ロングパスタはこちらから</span></a>
              </div>
            </div>
          </div>
        </collapsable>
      </div>
      <div class="mt-12 md:mt-24">
        <h2 class="dotted">
          <span class="text-lg md:text-2xl">PASTS STELLA<span class="text-sm md:text-lg">（パスタ・ステラ）</span>シリーズ</span>
        </h2>
        <collapsable :initial_open="false" open_text="詳細を表示" close_text="詳細を隠す" :mobile_only="true">
          <div class="mt-6 md:mt-12 p-2 md:p-8 bg-gray-100">
            <div class="md:flex items-center">
              <div class="hidden flex-none w-60 px-6 md:flex justify-center">
                <img src="{% static 'images/brands/mama_the_pro/logo-pasta_stella.png' %}" alt="PASTS STELLA（パスタ・ステラ）シリーズ" class="mb-10">
              </div>
              <div class="flex flex-wrap justify-between">
                <div class="w-1/3 p-2 md:p-4">
                  <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_napolitan.png' %}" alt="早ゆでスパゲティ 1.6mm">
                </div>
                <div class="w-1/3 p-2 md:p-4">
                  <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_wafu_tarako.png' %}" alt="早ゆでスパゲティ 2.2mm">
                </div>
                <div class="w-1/3 p-2 md:p-4">
                  <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_carbonara.png' %}" alt="早ゆでスパゲティ 2.2mm">
                </div>
                <div class="w-1/3 p-2 md:p-4">
                  <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_bolognese.png' %}" alt="早ゆでスパゲティ 1.6mm">
                </div>
                <div class="w-1/3 p-2 md:p-4">
                  <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_tomato_cream.png' %}" alt="早ゆでスパゲティ 2.2mm">
                </div>
                <div class="w-1/3 p-2 md:p-4">
                  <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_porcini_cream.png' %}" alt="早ゆでスパゲティ 2.2mm">
                </div>
              </div>
            </div>
          </div>
          <div class="mt-6 md:mt-10 md:flex md:-mx-8">
            <div class="md:w-6/12 md:px-8">
              <p class="text-sm md:text-base leading-loose">
                STELLA、それはイタリア語で「星」のこと。「PASTA　STELLA（パスタ・ステラ）」は、三ツ星のイメージから想起する満足感を目指して開発された冷凍レンジ用パスタです。<br><br>
                さまざまな食感が楽しめる多彩な形状のパスタとこだわりソースが織りなす、贅沢なメニューを揃えました。レンジひとつでお店で手軽に、リストランテの本格的な味を再現していただけます。
              </p>
              <div class="pt-6 px-10 md:py-10 md:pl-10 md:pr-0">
                <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_02.jpg' %}" alt="PASTS STELLA（パスタ・ステラ）シリーズ">
              </div>
            </div>
            <div class="w-7/12 md:w-6/12 md:px-8 -mt-14 -ml-10 md:m-0">
              <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_01.png' %}" alt="PASTS STELLA（パスタ・ステラ）シリーズ">
            </div>
          </div>
          <div class="w-full -mt-52 md:-mt-72 pl-20 md:px-32">
            <div class="flex justify-end bg-crimson pt-18 pb-10 md:py-0">
              <div class="w-8/12 md:w-7/12 md:pt-32 md:pl-18 md:pr-10 -mb-16 -mr-4 md:mr-0">
                <img src="{% static 'images/brands/mama_the_pro/image-pasta_stella_03.jpg' %}" alt="PASTS STELLA（パスタ・ステラ）シリーズ">
              </div>
            </div>
          </div>
          <div class="mt-12 md:mt-28 text-center">
            <div class="p-8 bg-crimson-50 text-center">
              <div class="w-64 mx-auto">
                <a href="#" class="button py-4"><span class="font-bold">調理済みパスタはこちらから</span></a>
              </div>
            </div>
          </div>
        </collapsable>
      </div>
    </div>
  </section>

  <section id="series" class="mt-12 md:mt-28">
    <div class="container mx-auto">
      <h2 class="slashed w-full pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">series</span>
          <span class="block text-2xl md:text-3xl font-bold leading-snug">マ・マー THE PROの<br class="md:hidden">シリーズ紹介</span>
        </div>
      </h2>
      <div class="mt-8 sm:mt-10 md:flex md:-mx-6">
        <a href="{% url 'series' brand='mama-the-pro' series='smile-meal' %}" class="block md:w-1/2 md:px-6">
          <div class="flex flex-col h-full bg-white shadow-md">
            <div class="flex-none">
              <img src="{% static 'images/brands/mama_the_pro/thumb_simile_meal.jpg' %}" alt="Smile Meal スマイルミール">
            </div>
            <div class="flex-1 py-6 flex justify-center items-center">
              <h4 class="w-60 md:w-80">
                <img src="{% static 'images/brands/smile_meal/logo-smile_meal.png' %}" alt="Smile Meal スマイルミール">
              </h4>
            </div>
          </div>
        </a>
        <a href="{% url 'series' brand='mama-the-pro' series='iqf' %}" class="block md:w-1/2 md:px-6 mt-8 md:mt-0">
          <div class="flex flex-col h-full bg-white shadow-md">
            <div class="flex-none">
              <img src="{% static 'images/brands/mama_the_pro/thumb_iqf.jpg' %}" alt="「IQFバラ凍結パスタ」シリーズ">
            </div>
            <div class="flex-1 py-6 flex justify-center items-center">
              <h4 class="w-60 md:w-80">
                <img src="{% static 'images/brands/iqf/logo-iqf_horizontal.png' %}" alt="「IQFバラ凍結パスタ」シリーズ">
              </h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section id="lineup" class="mt-16 md:mt-28">
    <div class="container mx-auto">
      <h2 class="slashed w-full pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">series</span>
          <span class="block text-2xl md:text-3xl font-bold leading-snug">マ・マー THE PROの<br class="md:hidden">製品紹介</span>
        </div>
      </h2>

      {% regroup product_list by main_category as brand_items %}
      <switcher
        base-name="series"
        :groups="[
          {% for products in brand_items %}
          { name: '{{ products.grouper }}', count: {{ products.list|length }} },
          {% endfor %}
        ]"
      >
      {% for products in brand_items %}
        <div id="series{{ forloop.counter }}" class="flex flex-wrap -mx-1 sm:-mx-2 transform">
          {% for product in products.list %}
            <div class="w-full sm:w-1/3 md:w-4/12 px-1 sm:px-2 mb-2 sm:mb-4">
              <a href="{% url 'products.detail' slug=product.slug %}" class="block wrap-image h-full flex flex-col justify-between border border-solid border-gray-300 bg-white">
                <div class="relative aspect-w-4 aspect-h-3 border-b border-dashed border-gray-300">

                  {% if product.main_photo %}
                    <div class="py-3 overflow-hidden">
                      <img src="{{ product.main_photo.photo|thumbnail_url:'square' }}" alt="{{ product.title | safe }}" class="w-auto h-full mx-auto">
                    </div>
                  {% else %}
                    <div class="py-1 overflow-hidden bg-gray-100">
                      <img src="{% static 'images/default_thumbnail.png' %}" alt="{{ product.title | safe }}" class="w-auto h-full mx-auto">
                    </div>
                  {% endif %}

                  {% if product.is_new %}
                    <div class="absolute left-0 top-0 w-12 h-12 mx-2">
                      <img src="{% static 'images/badge_new.png' %}" alt="New" class="no-effect">
                    </div>
                  {% endif %}

                  {% if product.preservation %}
                    <div class="absolute left-auto right-0 top-auto bottom-0 w-13 h-13 p-2">
                      {% with 'images/badge_'|add:product.preservation.slug|add:'_mini.png' as image_badge %}
                        <img src="{% static image_badge %}" alt="{{ product.preservation.name | safe }}" class="no-effect">
                      {% endwith %}
                    </div>
                  {% endif %}
                </div>
                <h4 class="flex-1 p-4 font-bold flex flex-col justify-start items-start">
                  <span class="p-1 text-xs border border-crimson text-crimson leading-none">{{ product.main_category }}</span>
                  <span class="mt-2 text-sm md:text-base">{{ product.title }}{% if product.subtitle %} {{ product.subtitle }}{% endif %}</span>
                </h4>
                <dl class="py-2 px-2 flex flex-wrap items-center bg-gray-100 text-black">
                  <dt class="w-6/12 md:w-6/12 py-1 pl-1 mb-1 text-2xs md:text-xs font-bold bg-white">
                    <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug">荷姿</span>
                  </dt>
                  <dd class="md:w-6/12 pl-2 md:pl-3 mb-1 text-xs">{{ product.packing | default:'---' }}</dd>
                  <dt class="w-6/12 py-1 pl-1 text-2xs md:text-xs font-bold bg-white">
                    <span class="block border-l-3 border-solid border-crimson pl-1 md:px-2 leading-snug tracking-tighter">マークコード</span>
                  </dt>
                  <dd class="md:w-6/12 pl-2 md:pl-3 text-xs">{{ product.markcode }}</dd>
                </dl>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      </switcher>

    </div>
  </section>

{% endblock content %}
