{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}商品情報｜日清製粉ウェルナ業務用{% endblock title %}
{% block description %}日清製粉ウェルナは、業態の変化や多様化するニーズに応え、業務用のお客様の皆様の課題解決につながる商品群を「常温」「冷凍」の温度帯で幅広くご用意しています。{% endblock description %}

{% block content %}
  <section class="">
    <div class="parallax-section">
      <div class="parallax-child-section">
        <div class="bg-gray-to-transparent relative z-10 h-full">
          <div class="container mx-auto h-full flex items-center">
            <h1 class="flex flex-col items-start">
              <span class="inline-block p-2 bg-crimson text-2xl sm:text-3xl md:text-4xl text-white font-bold font-en uppercase leading-none tracking-wider">Professional</span>
              <span class="inline-block p-2 mt-2 bg-crimson text-2xl sm:text-3xl md:text-4xl text-white font-bold font-en uppercase leading-none tracking-wider">recipes</span>
              <span class="block mt-4 text-lg md:text-xl font-bold leading-none tracking-wider">レシピ</span>
            </h1>
          </div>
        </div>
        <section class="fw-main-row" id="frontlashID" style="background-image: url({% static 'images/bg_recipe.jpg' %});"></section>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="brackets shadow-top relative z-30 w-full md:w-7/12 py-6 md:p-10 bg-white mt-2 md:-mt-10 leading-relaxed">
        <p class="text-sm md:text-base">日清製粉ウェルナ業務用製品を使用した、魅力溢れるレシピをご紹介。 スイーツに限らず、食事としてのパンケーキやクレープのご提案、旬の食材やこだわりの和素材などを使用した「ディ・チェコ」レシピなど、商品開発、メニュー開発のご参考にご活用ください。</p>
      </div>
    </div>
  </section>

  <section class="mt-2 -mb-2 md:mt-8 md:mb-0 overflow-x-hidden">
    <div class="container mx-auto">
      <h2 class="slashed pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">NEW arrival</span>
          <span class="block text-2xl md:text-3xl font-bold leading-snug">新着レシピ</span>
        </div>
      </h2>

      <div class="mt-8 sm:mt-10 md:mb-10 pt-2 px-2 bg-crimson">
        <ul class="flex flex-wrap -mx-1">
          {% for recipe in latest %}
            <li class="relative w-1/2 sm:w-1/4 mb-2 px-1">
              <a href="{% url 'recipe.detail' slug=recipe.slug %}" class="block h-full flex flex-col justify-start bg-white">
                {% if recipe.main_photo %}
                <div class="wrap-image">
                  <img src="{{ recipe.main_photo.photo | thumbnail_url:'rectangle' }}" alt="{{ recipe.title | safe }}" class="w-full">
                </div>
                {% else %}
                <div class="wrap-image">
                  <img src="{% static 'images/' %}default_rectangle.png" :alt="{{ recipe.title | safe }}" class="w-auto h-full mx-auto">
                </div>
                {% endif %}
                {% if recipe.is_new %}
                <div class="absolute left-0 top-0 w-12 h-12">
                  <img src="{% static 'images/' %}new_corner.png" alt="New" class="no-effect">
                </div>
                {% endif %}
                <div class="p-4">
                  {% if recipe.dish_types|length > 0 %}
                    {% for dish_type in recipe.dish_types.all %}
                    <span class="inline-block mb-2 py-1 px-2 text-xs border-2 border-crimson text-crimson leading-none">{{ dish_type }}</span>
                    {% endfor %}
                  {% endif %}
                  <h5 class="font-bold">{{ recipe.title }}</h5>
                </div>
                {% if recipe.events|length > 0 %}
                <div class="pt-2 px-4 border-t border-dashed border-gray-200 bg-gray-100">
                  {% for event in recipe.events.all %}
                  <span class="inline-block mb-2 py-1.5 px-3 text-xs text-white text-center bg-crimson rounded-full leading-none">{{ event }}</span>
                  {% endfor %}
                </div>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </section>

  <section class="mt-12 -mb-2 md:mt-8 md:mb-0">
    <div class="container mx-auto">
      <h2 class="slashed pt-10 flex justify-center items-center">
        <div class="text-center">
          <span class="block mb-3 text-crimson text-xs font-bold font-en uppercase tracking-wide leading-none">recommended</span>
          <span class="block text-2xl md:text-3xl font-bold leading-snug">おすすめレシピ</span>
        </div>
      </h2>

      <div class="mt-8 sm:mt-10 md:mb-10">
        <ul class="flex flex-wrap -mx-1 -mb-1 sm:-mx-2 -mb-2">
          {% for recipe in recommended %}
            <li class="relative {% if forloop.counter <= 2 %}w-1/2{% else %}w-1/2 sm:w-1/4{% endif %} px-1 sm:px-2 mb-2 sm:mb-4">
              <a href="{% url 'recipe.detail' slug=recipe.recipe.slug %}" class="block h-full flex flex-col justify-start bg-white border border-gray-200">
                {% if recipe.recipe.main_photo %}
                  <div class="wrap-image">
                    {% if forloop.counter <= 2 %}
                    <img src="{{ recipe.recipe.main_photo.photo | thumbnail_url:'wide' }}" alt="{{ recipe.recipe.title | safe }}" class="w-full">
                    {% else %}
                    <img src="{{ recipe.recipe.main_photo.photo | thumbnail_url:'rectangle' }}" alt="{{ recipe.recipe.title | safe }}" class="w-full">
                    {% endif %}
                  </div>
                {% else %}
                  <div class="wrap-image">
                    <img src="{% static 'images/' %}default_rectangle.png" :alt="{{ recipe.recipe.title | safe }}" class="w-auto h-full mx-auto">
                  </div>
                {% endif %}
                {% if recipe.is_new %}
                  <div class="absolute left-0 top-0 w-12 h-12">
                    <img src="{% static 'images/' %}new_corner.png" alt="New" class="no-effect">
                  </div>
                {% endif %}
                <div class="p-4">
                  {% if recipe.recipe.dish_types|length > 0 %}
                    {% for dish_type in recipe.recipe.dish_types.all %}
                      <span class="inline-block mb-2 py-1 px-2 text-xs border-2 border-crimson text-crimson leading-none">{{ dish_type }}</span>
                    {% endfor %}
                  {% endif %}
                  <h5 class="font-bold">{{ recipe.recipe.title }}</h5>
                </div>
                {% if recipe.recipe.events|length > 0 %}
                  <div class="pt-2 px-4 border-t border-dashed border-gray-200 bg-gray-100">
                    {% for event in recipe.recipe.events.all %}
                      <span class="inline-block mb-2 py-1.5 px-3 text-xs text-white text-center bg-crimson rounded-full leading-none">{{ event }}</span>
                    {% endfor %}
                  </div>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </section>

  <section class="mt-10 mb-14">
    <div class="container mx-auto">
      <div class="tags bg-gray-100 p-4 sm:p-10">
        <h2 class="text-center">
          <span class="inline-block mb-3 p-3 text-crimson text-xs font-bold font-en uppercase tracking-[3px] leading-none border-b border-dashed border-crimson">categories</span>
          <span class="block text-2xl md:text-3xl text-crimson font-bold leading-snug">製品カテゴリーから選ぶ</span>
        </h2>
        <ul class="mt-10 flex flex-wrap justify-start">
          {% for category in category_list %}
            <li class="w-1/2 md:w-1/4 px-1 sm:px-2 mb-2 sm:mb-4">
              <a href="{% url 'recipe.recipes' cat=category.slug %}" class="block p-2 wrap-image bg-white border-2 border-crimson rounded-lg">
                <div class="overflow-hidden rounded">
                  <img src="{{ category.photo|thumbnail_url:'rectangle' }}" alt="">
                </div>
                <h3 class="text-crimson text-center h-20 flex flex-col justify-center items-center">
                  <span class="block font-bold text-sm sm:text-base">{{ category.title }}</span>
                  {% if category.subtitle %}
                    <span class="block text-xs sm:text-sm">{{ category.subtitle }}</span>
                  {% endif %}
                </h3>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock content %}
