{% load static i18n compress %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}


<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>

  <meta charset="utf-8">
  <title>{% block title %}プロのための業務用食品サイト｜株式会社日清製粉ウェルナ{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="株式会社日清製粉ウェルナ">
  <meta name="copyright" content="Copyright © Nisshin Seifun Welna Inc. All Rights Reserved.">
  <meta name="description" content="日清製粉グループの食品事業を担う、日清製粉ウェルナの公式ウェブサイト。「日清」「マ･マー」「青の洞窟」「ディ･チェコ」等の各ブランド情報や、パスタ・パスタソース・小麦粉・冷凍食品等の商品情報、レシピ、企業情報、関連コンテンツなどをご紹介します">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta property="og:site_name" content="株式会社日清製粉ウェルナ" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.nisshin-seifun-welna.com/index/common/images/ogp.png" />

  <link rel="apple-touch-icon" sizes="180x180" href="dist/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="dist/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="dist/images/favicon-16x16.png">
  <link rel="manifest" href="dist/images/site.webmanifest">
  <link rel="mask-icon" href="dist/images/safari-pinned-tab.svg" color="#f48527">
  <meta name="msapplication-TileColor" content="#f48527">
  <meta name="theme-color" content="#fafafa">

  <link rel="manifest" href="static/mix-manifest.json">
  <!-- <link rel="apple-touch-icon" href="icon.jpg"> -->
  <!-- Place favicon.ico in the root directory -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TMNH6JM');</script>
  <!-- End Google Tag Manager -->

  <script src="https://use.typekit.net/xcg4ytx.js"></script>
  <script>try {
    Typekit.load({async: true});
  } catch (e) {
  }</script>

  <link rel="preconnect" href="https://fonts.gstatic.com/"/>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin/>
  {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->{% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">{% endcompress %}
  {% endblock %}
</head>

<body class="bg-white">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMNH6JM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="app" class="relative pt-[8rem]" data-imagepath="{% static 'images/' %}">

  <nav id="nav" class="fixed left-0 top-0 z-60 w-full shadow">
    <div id="brand-nav" class="relative z-30 bg-yellow-50 h-14 flex justify-between items-center border-t-2 border-crimson">
      <a href="https://www.nisshin-seifun-welna.com/index/" class="flex items-center">
        <svg-vue icon="brand" class="w-40 h-8"></svg-vue>
        <img src="{% static 'images/text_copy.png' %}" alt="健康と信頼をお届けする" class="w-40 h-auto ml-2">
      </a>
      <ul class="hidden md:flex items-center text-xs px-4 -mx-4">
        <li class="px-4">
          <a href="https://www.nisshin.com/?_ccdp.uid=9360be57-5036-4181-b20b-93900efa1ad5&amp;_ccdp.sid=f66c4b08842f6cb667928e59087ad75f"
            target="_blank" class="flex items-center">
            <span>日清製粉グループ</span>
            <svg-vue icon="external" class="w-3 h-3 ml-2 text-gray-600"></svg-vue>
          </a>
        </li>
      </ul>
    </div>

    <navigation>
        <div class="nav-link">
          <a href="{% url 'home' %}">
            <div><span>トップ</span></div>
          </a>
        </div>
        <div class="nav-link">
          <a href="{% url 'products.category' %}">
            <div class="ml-[-1px]"><span class="text-base md:text-xs md:font-bold">商品情報</span></div>
          </a>
        </div>
        <div class="nav-link">
          <a href="{% url 'stores' %}">
            <div class="ml-[-1px]"><span class="text-base md:text-xs md:font-bold">販売サイトのご案内</span></div>
          </a>
        </div>
        <div class="md:hidden h-14 bg-white">
          <a href="{% url 'contact' %}" class="h-full pl-4 flex justify-start items-center border-t-[0.1rem] border-gray-200">
            <span class="text-sm text-black font-medium">お問い合わせ</span>
          </a>
        </div>
        <div class="md:hidden h-14 bg-white">
          <a href="https://www.nisshin.com/?_ccdp.uid=9360be57-5036-4181-b20b-93900efa1ad5&amp;_ccdp.sid=f66c4b08842f6cb667928e59087ad75f"
             target="_blank" class="h-full pl-4 flex justify-start items-center border-t-[0.1rem] border-gray-200">
            <span class="text-sm text-black font-medium">日清製粉グループ</span>
            <svg-vue icon="external" class="w-3 h-3 ml-2 text-gray-600"></svg-vue>
          </a>
        </div>
    </navigation>
  </nav>

  <div class="md:sticky md:top-0 md:right-0 z-40 md:w-full">
    <div class="nav fixed md:absolute bottom-0 md:top-1/2 md:bottom-auto left-0 md:left-auto md:right-0 z-40 w-full md:w-12 md:h-screen md:mt-[-80px] flex md:flex-col justify-center items-center text-white pointer-events-none">
      <a href="{% url 'contact' %}" class="w-full md:w-full py-3 md:py-6 md:px-3 md:my-2 bg-crimson md:rounded-l-md hover:bg-crimson-400 hover:text-white flex md:flex-col justify-center items-center no-hover-svg pointer-events-auto">
        <svg-vue icon="mail" class="w-6 h-6 text-white"></svg-vue>
        <img src="{% static 'images/v_text_contact.png' %}" alt="お問い合わせ" class="hidden md:block w-4 mt-2">
        <span class="md:hidden ml-2 text-sm font-bold text-white">お問い合わせ</span>
      </a>
      <a href="https://secure-link.jp/wf/?c=wf14875648" target="_blank" class="hidden w-1/2 md:w-full py-3 md:py-6 md:px-3 md:my-2 bg-green md:rounded-l-md text-white hover:bg-green-400 flex md:flex-col justify-center items-center pointer-events-auto">
        <svg-vue icon="foodie" class="w-6 h-6 text-white"></svg-vue>
        <img src="{% static 'images/v_text_sample.png' %}" alt="無料サンプル" class="hidden md:block w-4 mt-2">
        <span class="md:hidden ml-2 text-sm font-bold text-white">無料サンプル</span>
      </a>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}

  <section class="bg-white py-8 my-8 md:my-0 overflow-x-hidden">
    <div class="relative -mx-2">
      <image-slider :images="[
        '{% static 'images/heros/image_food_01.jpg' %}',
        '{% static 'images/heros/image_food_02.jpg' %}',
        '{% static 'images/heros/image_food_03.jpg' %}',
        '{% static 'images/heros/image_food_04.jpg' %}',
        '{% static 'images/heros/image_food_05.jpg' %}',
      ]"
      ></image-slider>
      <div class="absolute inset-0 flex justify-center items-center">
        <div class="sm:container flex justify-center items-center">
          <div class="relative w-10/12 md:w-8/12 p-1 xs:p-10 xs:pl-14 xs:pt-14 bg-white shadow-lg rounded-md">
            <div class="xs:flex border border-crimson xs:border-none p-6 xs:p-0 rounded">
              <div class="w-full xs:w-8/12">
                <div class="h-full xs:border-l border-solid border-crimson xs:px-8 flex flex-col justify-between">
                  <div class="xs:absolute xs:left-0 xs:top-0 xs:-rotate-90 xs:p-4 text-xs font-bold text-crimson font-en text-center xs:text-left tracking-wide transform xs:translate-y-[3.6rem]">CATALOG</div>
                  <div class="">
                    <h3 class="mt-2 xs:mt-0 text-2xl xs:text-xl sm:text-3xl font-bold text-center xs:text-left leading-tight">
                      業務用総合カタログ<br class="md:hidden">2022年度版
                    </h3>
                  </div>
                  <div class="xs:hidden w-6/12 mt-4 mx-auto">
                    <a href="https://nisshin.s3-ap-northeast-1.amazonaws.com/welna/b2b/gyoumu_catalog.pdf" target="_blank" class="block shadow-md">
                      <img src="{% static 'images/image_catalog.png' %}" alt="業務用総合カタログ">
                    </a>
                  </div>
                  <div class="">
                    <h4 class="mt-4 mb-4 sm:mb-2 text-base font-bold leading-snug tracking-tight text-center xs:text-left">業務用のお客様の課題解決に<br class="xs:hidden">つながる商品と提案を</h4>
                    <p class="text-sm sm:text-base pb-4 leading-normal sm:leading-snug">2022年業務用春の新商品をまとめた資料です。ダウンロードしてご覧ください。</p>
                  </div>
                  <a href="https://nisshin.s3-ap-northeast-1.amazonaws.com/welna/b2b/gyoumu_catalog.pdf" target="_blank" class="button crimson ghost text-lg font-bold py-3 xs:py-2 sm:py-3">ダウンロードはこちら</a>
                </div>
              </div>
              <div class="hidden xs:block w-4/12">
                <a href="#" class="block shadow-md">
                  <img src="{% static 'images/image_catalog.png' %}" alt="業務用総合カタログ">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-crimson py-8 md:py-16 px-6">
    <div class="container mx-auto px-0">
      <h2 class="flex justify-center items-center">
        <svg-vue icon="mail" class="w-8 h-6 text-white mr-3"></svg-vue>
        <span class="text-2xl text-white font-bold font-en uppercase tracking-wider pr-4">CONTACT US</span>
      </h2>
      <p class="pt-6 pb-8 md:py-12 sm:text-center text-white text-sm md:text-base">商品のご説明や、商品開発、企画等に関するご相談など、お困りごとがございましたら、<br class="hidden sm:block">お気軽に窓口までお問い合わせください。専門スタッフが対応させていただきます。</p>
      <div class="lg:w-8/12 flex justify-center items-center -mx-2 md:-mx-4 lg:mx-auto">
        <div class="w-full sm:w-6/12 px-2 md:px-4">
          <a href="{% url 'contact' %}" class="button py-4 md:py-6 border border-white bg-white text-crimson font-bold">お問い合わせ</a>
        </div>
        <div class="hidden w-full md:w-6/12 px-2 md:px-4">
          <a href="#" class="button py-4 md:py-6 border border-white font-bold">よくあるご質問</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="overflow-x-hidden">
    <div class="bg-white md:py-10">
      <div class="container mx-auto">
        <div class="md:flex -mx-4 sm:-mx-6 md:mx-0">
          <div class="my-4 md:my-0 md:w-3/12">
            <a href="https://www.nisshin-seifun-welna.com/index/">
              <svg-vue icon="logo_welna" class="w-36 h-16 ml-4 md:ml-0"></svg-vue>
            </a>
          </div>
          <div class="w-full md:w-9/12">
            <ul class="w-full md:flex flex-wrap md:-mx-2 text-gray-800">
              <li class="w-full md:px-2 border-t md:border-none">
                <a href="{% url 'home' %}" class="block py-4 md:py-2 px-4 sm:px-6 md:px-0 font-bold border-b md:border-none">
                  <span>トップ</span>
                </a>
              </li>
              <li class="w-full md:w-6/12">
                <div class="md:px-2 border-b md:border-none">
                  <a href="{% url 'products.category' %}" class="block pt-4 pb-2 md:pt-2 px-4 sm:px-6 md:px-0 font-bold">
                    <span>商品情報</span>
                  </a>
                  <div class="flex mb-6 md:mb-0">
                    <ul class="w-1/2 pl-4 sm:pl-6 md:pl-4 md:border-l border-gray-400 text-xs">
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='tempurako' %}">天ぷら粉</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='karaageko' %}">から揚げ粉</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='bb' %}">バッター・ブレダー</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='japanesemenu' %}">和風メニュー<br>(お好み焼・たこ焼他)</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='westernmenu' %}">洋風メニュー<br>(スイーツ他)</a>
                      </li>
                    </ul>
                    <ul class="w-1/2 pl-4 sm:pl-6 border-l border-gray-400 border-dashed md:border-solid text-xs">
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='longpasta' %}">ロングパスタ</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='shortpasta' %}">ショートパスタ</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='cookedpasta' %}">調理済みパスタ</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='pastasauce' %}">パスタソース</a>
                      </li>
                      <li class="py-2">
                        <a href="{% url 'products.products' cat='others' %}">その他</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="w-full md:w-3/12 md:px-2">
                <a href="{% url 'stores' %}" class="block py-4 md:py-2 px-4 sm:px-6 md:px-0 font-bold border-b md:border-none">
                  販売サイトのご案内
                </a>
                {% if false %}
                <a href="{% url 'stores' %}" class="block py-4 md:py-2 px-4 sm:px-6 md:px-0 font-bold border-b md:border-none">
                  よくあるご質問
                </a>
                {% endif %}
              </li>
              <li class="w-full md:w-3/12 md:px-2">
                <a href="{% url 'contact' %}" class="block py-4 md:py-2 px-4 sm:px-6 md:px-0 font-bold border-b md:border-none">
                  お問い合わせ
                </a>
                {% if false %}
                  <a href="{% url 'stores' %}" class="block py-4 md:py-2 px-4 sm:px-6 md:px-0 font-bold border-b md:border-none">
                    よくあるご質問
                  </a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-100 pt-5 pb-20 md:py-8 sm:flex flex-wrap justify-start overflow-x-hidden">
      <a href="/index/" class="flex-none">
        <svg-vue icon="brand" class="w-40 h-8"></svg-vue>
      </a>
      <ul class="flex-1 sm:pl-3 md:pl-6 text-xs sm:flex flex-wrap items-center mt-3 sm:mt-0">
        <li class="pl-4 md:px-3 my-2 sm:my-0">
          <a href="https://www.nisshin-seifun-welna.com/index/company/" class="leading-none">企業情報</a>
        </li>
        <li class="pl-4 md:px-3 my-2 sm:my-0">
          <a href="https://www.nisshin.com/privacy/?_ccdp.uid=33737942-8732-4c33-b94b-f485c9b80fd5&_ccdp.sid=f66c4b08842f6cb667928e59087ad75f&_gl=1*1t9ez0r*_ga*NjM2NzU0NDkuMTY0NzIyNTU5NQ..*_ga_0XH4V1VWE6*MTY0Nzg0MjY5OS4xNy4xLjE2NDc4NDU3NzIuMA.." target="_blank" class="flex items-center leading-none">
            <span>プライバシーポリシー</span>
            <svg-vue icon="external" class="w-3 h-3 ml-2 text-gray-600"></svg-vue>
          </a>
        </li>
        <li class="pl-4 md:px-3 my-2">
          <a href="https://www.nisshin-seifun-welna.com/index/policy/" class="leading-none">ご利用規約</a>
        </li>
        <li class="pl-4 md:px-3 my-2">
          <a href="https://www.nisshin-seifun-welna.com/index/cookie-policy/" class="leading-none">クッキーポリシー</a>
        </li>
        <li class="pl-4 md:px-3 my-2">
          <a href="javascript:Bootstrapper.gateway.openModal();" class="leading-none">クッキー詳細設定</a>
        </li>
        <li class="pl-4 md:px-3 my-2">
          <a href="https://www.e-sousyoku.com/" target="_blank" class="flex items-center leading-none tracking-tight">
            <span>日清製粉業務用お役立ちサイト「創・食Club」</span>
            <svg-vue icon="external" class="w-3 h-3 text-gray-600"></svg-vue>
          </a>
        </li>
        <li class="w-full pl-4 mt-6 sm:mt-4">
          <p class="text-xs md:text-right md:pr-8 text-gray-400">Copyright © Nisshin Seifun Welna Inc. All Rights Reserved.</p>
        </li>
      </ul>
    </div>
  </footer>

</div>

{% block modal %}{% endblock modal %}

{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}
  <!-- place project specific Javascript in this file -->{% compress js %}
  <script defer src="{% static 'js/index.js' %}"></script>{% endcompress %}
{% endblock javascript %}

{% block inline_javascript %}
  {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
{% endblock inline_javascript %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMNH6JM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>

</html>
